[2017-06-13 20:29] hashibot opened #1 "Terraform fails to notice when a Nomad job has changed"
_This issue was originally opened by @blalor as hashicorp/terraform#14038. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

Terraform v0.9.3

### Affected Resource(s)

- nomad_job

### Terraform Configuration Files

[code]

### Debug Output

Log

[2017-06-13 21:07] hashibot opened #2 "Allow specification of VAULT_TOKEN for nomad_job resource"
_This issue was originally opened by @dansteen as hashicorp/terraform#14664. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.9.2

### Affected Resource(s)
nomad_job

Nomad is able to be configured to require that anyone creating a jo

[2017-06-13 21:09] hashibot opened #3 "nomad_job doesn't properly register parameterized jobs"
_This issue was originally opened by @vsivsi as hashicorp/terraform#14840. It was migrated here as part of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature reque

[2017-07-27 14:35] cstruct opened #4 "leader property not supported on tasks"
The Nomad provider does not support the `leader` property on tasks. If the same `jobspec` is submitted to nomad directly it works.

### Terraform Version
`Terraform v0.9.11`

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/cstruct/3630a5c93044d579d66898c0a07e0eb5

### Expected Behavior
That Terraform schedules a task that is

[2017-07-27 16:03] cstruct commented on #4
Terraform 0.9.11 was released a long time after [leader was added](https://github.com/hashicorp/nomad/commit/a22f1647f9f636bf4ef5388e7ba8dcf102757ff8) so I don't get why this breaks. I don't write Go myself but I thought it always pulled from master when getting dependencies.

[2017-08-08 22:30] blalor opened #6 "[question] updating github.com/hashicorp/nomad vendored dep"
I'm attempting to tackle some fixes and need to update the version of Nomad that's vendored in this repo.  The only reference to that package is in [`vendor.json` under `ignore`](https://github.com/terraform-providers/terraform-provider-nomad/blob/v0.1.0/vendor/vendor.json#L3).  I have a suspicion that this is an artifact of the Great Provider Split of Seventeen, and I don't know my way around gov

[2017-08-15 12:45] grubernaut commented on #6
Ah, so `nomad` was removed from the vendored dependencies, so Terraform doesn't require `cgo` in order to build, as Nomad does. I'm not sure if we have an official "Hashicorp" way of updating the `nomad` dependency, however, I believe that @jbardin was the last one to update it.

[2017-08-15 13:07] jbardin commented on #6
The nomad packages were always a special case, because they couldn't be properly vendored.

IIRC, it was a cgo problem (we require terraform to build without cgo), but the nomad code isn't structured in a way to allow the vendor tooling to bring it in while excluding the cgo files. Vendoring it was a manual process, and may have even required a minor edit of the code to remove some of the unused c

[2017-08-29 09:54] sirocode commented on #4
"shutdown_delay" option for Nomad task (introduced in Nomad 0.6.1) also does not work if I place nomad jobs via Terraform 0.10.2.

Also: "update" section for nomad group does not work, I had to comment it out in order to place nomad task via Terraform,:

[code]

But it works if I just use "nomad run".

[2017-08-29 10:00] cstruct commented on #4
@sirocode have you tested if #7 fixes those cases as well? I presume it does, but it would be good to know.

[2017-08-29 13:31] sirocode commented on #4
@cstruct I can see that the fix is not yet released. Waiting for release.

[2017-08-29 14:51] cstruct commented on #4
I was more thinking of building it from source and trying it out. I'll see if I can manage to do it this evening. Would be nice to know that it fixes all these issues and we don't have to wait for multiple releases.

[2017-08-29 15:36] CGreenburg opened #9 "Provider doesn't recognize env key in template stanza."
### Terraform Version
0.10.2

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/CGreenburg/cdad7b78e70faee8e08689b7c16fc640

### Expected Behavior
Terraform should create the nomad job.

### Actual Behavior
Terraform fails to create the nomad job. I assume this is because this provider is using an older version of the jobspec l

[2017-08-29 15:47] cstruct commented on #9
I think #7 should fix this.

[2017-08-29 15:50] CGreenburg commented on #9
You're right. I should have checked the open pull requests. Thanks.

[2017-08-29 15:50] #9 closed

[2017-09-03 20:20] hashibot opened #10 "0.10.2 fails to create nomad job"
_This issue was originally opened by @michaelw as hashicorp/terraform#16011. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.10.2 (Darwin)
Nomad v0.6.0 (Linux)

### Terraform Configuration Files
[code]

### Debug Output
https://g

[2017-09-04 06:52] tombuildsstuff commented on #10
Hey @michaelw

Thanks for opening this issue. Taking a quick look into this - I believe this should be fixed by #7

Thanks!

[2017-09-12 17:20] hashibot opened #11 "Nomad template stanza with 'env = true' cannot be used with nomad_job"
_This issue was originally opened by @SoMuchToGrok as hashicorp/terraform#16074. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.10.4

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Terra

[2017-09-12 17:24] apparentlymart commented on #11
Hi @SoMuchToGrok! Sorry about this issue.

I think this is the same issue as being discussed in terraform-providers/terraform-provider-nomad#7. Indeed it seems that we need to update the jobspec parser that is "vendored" into this provider, and there were some things to work through first but hopefully we can get that merged soon.

Since that PR is already open, I'm going to close this just to con

[2017-09-12 17:24] #11 closed

[2017-09-19 19:48] #4 closed

[2017-09-20 11:15] radeksimko commented on #10
#7 was just merged and will be part of the next release.

[2017-09-20 11:15] #10 closed

[2017-09-26 07:47] jzvelc opened #12 "[question] Nomad 0.6"
Hello,

This project lags behind Nomad and we would really like to use Nomad as a Terraform provider. Can we expect Nomad 0.6 compat anytime soon?

[2017-09-27 08:55] radeksimko commented on #12
1.0.0 version of the provider was just released

[2017-09-27 08:55] #12 closed

[2017-09-27 08:56] radeksimko commented on #6
1.0.0 version (which contains Nomad 0.6) of the provider was just released

[2017-09-27 08:56] #6 closed

[2017-09-27 09:39] radeksimko commented on #3
Hi,
1.0.0 version (which contains Nomad 0.6 with parametrised jobs) of the provider was just released.

I managed to successfully apply the attached config.

[2017-09-27 09:39] #3 closed

[2017-10-17 10:20] hashibot opened #14 "[question] [feature-request] Support for vault-token in nomad-job resource"
_This issue was originally opened by @ryanmickler as hashicorp/terraform#16301. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Unless I'm mistaken, there doesn't seem to be support in the nomad_job resource to submit a vault-token along with the job.

https://www

[2017-11-28 16:20] bookwar opened #16 "check_restart which was added in Nomad 0.7 is not supported"
### Terraform Version

Terraform v0.10.7

### Affected Resource(s)

- nomad_job

### Terraform Configuration Files
[code]

Job spec with [check_restart](https://www.nomadproject.io/docs/job-specification/check_restart.html):
[code]

### Expected Behavior
After running `terraform apply` new deployment starts

### Actual Behavior
`terraform apply` produces an error

[code]

### References
Issue look

[2018-02-12 16:43] NikolaeVarius commented on #16
+1

[2018-02-20 19:26] ketzacoatl commented on #1
@paddycarver / @grubernaut / @radeksimko, is this a verified issue/bug?

[2018-02-22 09:51] ketzacoatl commented on #1
The underlying issue here also produces the following behavior:

* run a job with the terraform provider
* `nomad stop` that job manually
* re-apply the terraform plan, the job is still stopped

[2018-02-22 21:49] paddycarver commented on #1
Hi @ketzacoatl! I can't say for sure whether this is a verified bug, nor can I explain the behaviour. I'll try to look into this soon and come back with a bit more information, and a fix if necessary. Apologies for the delays on this.

[2018-03-14 16:28] ole-lukoe commented on #16
+1, please update jobspec

### Terraform Version
Terraform v0.11.3
provider.nomad v1.1.0

### Actual Behavior
[code]

[2018-03-14 17:04] unitrq commented on #16
+1
Vendored nomad version is 0.6.0, it fails to parse service checks defined for nomad ^0.7

[2018-03-14 17:21] sergey-jerzy commented on #16
+1

[2018-03-19 11:22] perbly opened #31 "check -> invalid key: address_mode"
Hi

address_mode was added in Nomad 0.7.1 but nomad terraform provider 1.1 seems to lack support for it.

If i run nomad run on the same hcl job it works but terraform apply fails with this error:

`group: 'deathstar-service', task: 'deathstar-service', service: 'deathstar-service', check -> invalid key: address_mode`

### Terraform Version
v0.11.3

### Nomad provider versio
v.1.1.0

### Terraform

[2018-03-20 18:31] Dirrk commented on #31
Instead of creating a duplicate issue, I just wanted to point out that the method key is also not correct.  I imagine this due to the same issue.

`* group: 'service', task: 'nginx', service: 'nginx-auth', check -> invalid key: method`

[code]

[2018-03-23 16:50] ketzacoatl commented on #1
hi @paddycarver, thanks for taking a look! were you able to confirm the behavior we see in practice?

[2018-03-28 00:18] slapula opened #36 "interface conversion: interface {} is nomad.ProviderConfig, not *api.Client"
Hello,

I'm not sure if this is an actual bug or if I've misconfigured something on my end.  I wouldn't be surprised if it's the former since I'm pretty new to Golang and developing for Terraform.  Anyway, I can't seem to run acceptance tests without Go panicking about the interface being wrong in multiple places in this provider.  I've isolated the problem code which seems to be any instance of `

[2018-03-28 03:40] slapula commented on #36
Whoops!  Looks like this was fixed with #35 . Thanks guys!

[2018-03-28 03:40] #36 closed

[2018-03-28 17:27] paddycarver commented on #31
With the release of 1.2.0, we've synced this with Nomad 0.7.1, which should resolve the issue. If not, please feel free to comment here, and we'll reopen it again and figure it out. Thanks!

[2018-03-28 17:27] #31 closed

[2018-03-28 17:28] paddycarver commented on #16
With the release of 1.2.0, we've synced this with Nomad 0.7.1, which should resolve the issue. If not, please feel free to comment here, and we'll reopen it again and figure it out. Thanks!

[2018-03-28 17:28] #16 closed

[2018-03-28 17:28] paddycarver commented on #14
Does the added `vault_token` at the provider level solve this concern?

[2018-03-28 17:29] paddycarver commented on #2
Does the release of 1.2.0 with the `vault_token` field on the provider address this for you?

[2018-03-30 10:52] ryanmickler commented on #14
I believe it does. thanks!

[2018-03-30 16:55] #14 closed

[2018-03-31 04:06] shantanugadgil commented on #1
My observation is the same as @ketzacoatl.

It would be just more operator friendly if users could interact via Terraform, rather than `nomad status`

My versions are
Terraform 0.11.5
Nomad (built from master) (0.8.0-dev)

[2018-04-12 18:12] amanjeev opened #38 "Terraform does not create Sentinel policy if not already created"
### Terraform Version

`0.11.7`

### Plugin version

`1.2.0`

### Affected Resource(s)
Please list the resources as a list, for example:
- nomad_sentinel_policy

### Terraform Configuration Files
[code]

### Debug Output

Error: Error applying plan:

1 error(s) occurred:

* module.sentinel-policies.nomad_sentinel_policy.exec-only: 1 error(s) occurred:

* nomad_sentinel_policy.exec-only: error read

[2018-04-12 18:13] amanjeev commented on #38
I also see issues where the provider plugin fails to notice a change made to the Sentinel policy outside of Terraform.

[2018-04-26 10:49] ketzacoatl commented on #1
Any updates on this @paddycarver?

[2018-05-03 12:47] kerscher commented on #1
@paddycarver I took a quick look inside the codebase, and it seems the culprit is:

- `resourceJobRead` is not implemented
- there is no metadata to discern changes other than job ID within the schema
- de-then-registering only occurs when ID itself changes

#15 by @apparentlymart adds more metadata, but `modify_index` wouldn’t pick up changes from the provider. I think “Solution 1” below is a nic

[2018-06-28 16:58] ketzacoatl commented on #1
@paddycarver, I'd love to help resolve this problem, as IMO it prevents serious use of Terraform to manage nomad, do you have have any guidance or recommendations on how you would like to address the problem?

[2018-07-20 23:22] ketzacoatl commented on #1
@mitchellh I'd be very grateful for your feedback/guidance here.

[2018-08-21 07:42] yellowmegaman opened #43 "Nomad provider + migrate block"
Hi there, I'm currently on TF 0.11.7 and nomad provider 1.2.0.

Any news on when nomad provider will support `migrate` block?

And also would be great to know how to find compatibility list of some kind, right now everything is empirical =)

Thanks a lot in advance! Provider is awesome, already being able to deploy everything via terraform, which is huge.

[2018-08-21 08:48] shantanugadgil commented on #43
I too have been waiting for the new version of the provider to be released!

[2018-09-04 08:43] lawliet89 commented on #43
I think this can be "enabled" by updating the vendored Nomad Go package.

[2018-09-04 11:08] d4rk8l1tz opened #44 "canary_tag feature from Nomad 0.8.4 causing job submit failure."
Our setup is like this:
We have a git repo managing job files for various teams which uses terraform to push the jobs into nomad on build.
We want to leverage the latest(nomad 0.8.4) `canary_tags` option in the service stanza of the job file.
Now when i use nomad to push the file directly it works but i cannot do the same using terraform

[code]

It looks like the nomad jobspec being used in this

[2018-09-25 00:31] sam-myers commented on #44
Similarly, `progress_deadline` from the `update` stanza is not recognized either.

[2018-10-04 06:32] d4rk8l1tz commented on #44
So i fixed this locally by building the provider with the latest jobspec from nomad, hope this is fixed soon here too.

[2018-10-08 02:29] ole-lukoe commented on #16
Please update jobspec again:  progress_deadline parameter was added in Nomad 0.8.4.
Thanks in advance!

[2018-10-08 03:51] shantanugadgil opened #46 "Update the Nomad provider for new job features"
### Terraform Version
0.11.8

### Affected Resource(s)
- nomad_job

### Expected Behavior
At any given time, the Nomad provider should have all the features of the latest version of Nomad (v0.8.6 at the time of this bug report)

### Actual Behavior
Terraform's Nomad provider is lagging behind.

### Important Factoids
We (and I assume many other folks) would like to codify their entire usage via Te

[2018-11-01 13:03] epetrovich commented on #46
There is a lot of pain in the ss

* nomad_job.blitzops-app-dispatch: 1 error(s) occurred:
* nomad_job.blitzops-app-dispatch: error parsing jobspec: error parsing 'job': 1 error(s) occurred:
* group: 'blitzops-group' -> invalid key: reschedule

[2018-11-01 13:19] epetrovich commented on #46
@paddycarver Please!

[2018-11-01 14:16] cgbaker commented on #46
Hi all, I am looking into this right now. I will have an update on this ASAP. Thank you for your patience.

[2018-11-05 13:43] epetrovich commented on #46
@cgbaker
I hope you're not in the another time-space dimension )

[2018-11-05 15:04] cgbaker commented on #46
I'm in Florida... does that count? 😄

[2018-11-06 13:41] epetrovich commented on #44
* group: 'blitzops-group' -> invalid key: reschedule

[2018-11-07 10:28] mildred commented on #46
Yep, got errors too, at first I thought that the nomad versions I used on my servers was lagging behind, but no, it was here :)

`group: 'main', task: 'main', service (0) -> invalid key: canary_tags`

[2018-11-07 10:29] mildred commented on #46
Are there plans to have this provider always in sync (perhaps a new release of this provider on each new nomad release) ?

[2018-11-07 10:30] mildred commented on #44
Duplicate of #46 ?

[2018-11-07 10:31] mildred commented on #43
duplicate of #46 ?

[2018-11-07 15:04] cgbaker commented on #46
We are planning to keep the Terraform provider working with new releases of
Nomad, either by updating the provider on Nomad releases or by modifying
the provider so that it is unversioned/generic.

On Wed, Nov 7, 2018, 02:29 mildred <notifications@github.com wrote:

[2018-11-07 15:33] mildred commented on #46
Thanks.

For those interested, I could build the last version of the nomad provider using nomad 0.8.6 with this Dockerfile:

[code]

[2018-11-07 16:48] cgbaker commented on #46
Yes and yes.

On Wed, Nov 7, 2018, 08:26 Shantanu Gadgil <notifications@github.com wrote:

[2018-11-07 19:59] shantanugadgil commented on #46
when? and when?

Based on the disturbance in the force (flurry of activity) I sense Consul 1.4.0 or Nomad 0.9.0 (rc1?) is coming and people could be busy! ☺️☺️☺️

[2018-11-07 20:05] cgbaker commented on #46
We're going to get the update for 0.8.6 out immediately just by updating
the dependencies, as folks have been doing in this thread. Then we'll work
on un-versioning the client in the provider so that we don't have to keep
working, err, ignoring it. The plan is to have that ship soon after the
0.9.0 release (if not before).

On Wed, Nov 7, 2018 at 11:59 AM Shantanu Gadgil <notifications@github.com>

[2018-11-22 20:58] ketzacoatl commented on #46
@cgbaker, thanks for the updates! Was there a release made for the provider, updated to work with `0.8.6`?

[2018-11-22 21:09] cgbaker commented on #46
Not yet, but soon (hopefully next week).

On Thu, Nov 22, 2018, 14:58 ketzacoatl <notifications@github.com wrote:

[2018-11-26 02:16] lawliet89 commented on #46
It parses and deserialzies the jobspec into some form that the API can consume, is my guess.

[2018-11-26 14:38] cgbaker commented on #46
@pashinin , as stated above, the provider is currently "versioned" because of the client that it imports from the Nomad project. The plan is to remove this versioning so that the provider does not need to be constantly updated as new features are added to Nomad.

[2018-11-26 14:48] pashinin commented on #46
@cgbaker really waiting for this. Thanks for answers.

[2018-11-26 14:51] cgbaker commented on #46
My pleasure. My apologies for the delay on taking care of this.

[2018-11-26 15:14] shantanugadgil commented on #46
I am (and have been) waiting for 0.9 GA build.  :) :)

[2018-11-28 12:29] cgbaker commented on #44
closing this as a dupe, will track in #46

[2018-11-28 12:29] #44 closed

[2018-11-28 12:29] cgbaker commented on #43
closing this as a dupe, will track in #46

[2018-11-28 12:29] #43 closed

[2018-12-04 18:15] #46 closed

[2018-12-06 06:20] ketzacoatl commented on #1
@cgbaker, With renewed development efforts here, what are your thoughts on this issue?

[2018-12-06 17:17] cgbaker commented on #1
Hi @ketzacoatl, I wholeheartedly agree that this is something that must be addressed. This shortcoming makes the Nomad provider just about useless for Day 2 operations.

As noted in #15 , there are a few different options for addressing this. The solution partially hinges on whether we want to try to find a general solution that doesn't require modifying and re-releasing the provider every time No

[2018-12-11 21:18] ketzacoatl commented on #1
That would be great, WRT being able to continue using the provider while future improvements get worked out.

[2018-12-13 19:06] ketzacoatl commented on #46
Is there a release coming for this provider to work with nomad `0.8.6`?

[2018-12-13 19:10] cgbaker commented on #46
Hopefully next week... There just a few more merge requests I want to pull
in.

On Thu, Dec 13, 2018, 11:06 ketzacoatl <notifications@github.com wrote:

[2018-12-20 13:17] ketzacoatl commented on #46
@cgbaker would it be reasonable to push a release now with what's ready to go, and then again when there are more PRs merged? Or are there updates that need to block the release?

[2018-12-20 13:18] cgbaker commented on #46
It is my only task for today. I'm doing some manual testing right now and then I'll do the release.

[2018-12-20 21:33] cgbaker commented on #1
Nomad 0.8.x API support is available in the Nomad v1.3.0 that released today. I will look at finding a longer-term solution for this in upcoming versions; having said that, even if we continue version the Nomad providers, we pledge to be much more responsive in updating the Nomad provider going forward.

[2018-12-20 21:35] cgbaker commented on #46
v1.3.0 of the Nomad provider just released, with support for the Nomad v0.8.6 API. Thank you for your patience, I promise you that we will be much faster in adding support in the future. Please let me know if you encounter any problems with this provider.

[2019-02-04 22:44] appilon opened #51 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-03-05 22:04] Xopherus opened #54 "Validate nomad_job.jobspec using `nomad job validate`"
### Terraform Version
0.11.11

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files

Say you have a nomad job which is rendered using terraform's `template_file`. The contents of the nomad job don't matter too much, but the fact that it has template syntax in it does.

[code]

### Expected Behavior
What should have happened?

Is it possible to [optionally] run `nomad job validat

[2019-03-25 14:47] james-masson opened #56 "Feature request: Wait for successful job start"
[code]

One thing I've come to expect from Terraform is that it waits for success on the infrastructure object it creates, as much as is possible.

eg. Terraform waits on creating a AWS Instance, until the instance is running - not just that the AWS API has given a 200 OK back on submitting the HTTP request.

When creating new jobs with the nomad provider it seems like all it looks for is that the

[2019-03-29 18:21] #51 closed

[2019-04-04 05:02] ketzacoatl commented on #1
Hello, just checking back up on this - have there been any improvements related to this?

[2019-04-04 17:09] cgbaker commented on #1
No update as of now, we've been focusing on core Nomad work, finishing the
0.9.0 release.

On Thu, Apr 4, 2019 at 1:02 AM ketzacoatl <notifications@github.com> wrote:

[2019-04-11 03:05] ketzacoatl commented on #1
Fair enough, thanks for the update!

[2019-04-23 09:03] jwslok opened #59 "Support Spread stanza in template"
### Terraform Version
[code]

### Affected Resource(s)
* nomad_job

### Terraform Configuration Files
[code]

Part of template contents:

[code]

### Debug Output
[code]

### Expected Behavior
Correct rendering and running of the Nomad job with a spread stanza.

### Actual Behavior
The job fails to parse, returning an "invalid key: spread" error.

### Steps to Reproduce
1. Create a terraform templ

[2019-04-23 09:21] shantanugadgil commented on #59
I think Nomad 0.9.0 isn't supported yet. If the relevant support for version 0.9.0 is added, I think this would get fixed!

[2019-05-02 20:07] CodingMadeEasy opened #60 "0.12 support"
Hi,

Can you please make a version with 0.12 support? I recently upgraded to use some of the new features, but I sadly am not able to work because there's no 0.12 compatible nomad provider version.

Thanks in advance

[2019-05-17 21:20] #56 closed

[2019-05-27 06:05] craigday opened #65 "Crash when creating entity that already exists"
The entity "craig" already existed, created manually, so not strictly a valid configuration.

### Terraform Version

Terraform v0.11.14
+ provider.vault v1.8.0

### Affected Resource(s)
Please list the resources as a list, for example:
- vault_identity_entity.craig

### Terraform Configuration Files
[code]

### Debug Output

https://gist.github.com/craigday/100d82f1db91e6e1940c4640d92fc53c

### Pa

[2019-05-27 10:43] nhi-vanye opened #66 "nomad 1.3 to 1.4 all jobs are failing - not even prompting for confirmation"
I have a terraform environment that creates a VM, add nomad to the VM and then deploys a number of nomad jobs to the environment - this has been working for about 18months.

A recent change to the terraform-nomad-provider (1.4 is broke, 1.3 works) has changed this so that when running `terraform plan` or `terraform apply` that it seems to fail in building the "environment". No state file is built

[2019-05-30 07:39] peimanja commented on #60
Is there any timeline on this? 🥇

[2019-06-05 22:54] cgbaker commented on #1
Update: this was not resolved in the 1.4.0 release of the provider, but we're still tracking this.

[2019-06-20 22:00] rmlsun commented on #60
we're blocked by this too

[2019-06-22 11:36] ketzacoatl commented on #60
@mitchellh can you help us? We are part of the community and your customer base that wants to use two of your products together (at least!) - We do not see the nomad provider getting the level of attention that it needs. This provider lacks quality and lags behind in support for features coming out of Terraform and Nomad. We are being held back when using these products with our clients, and the s

[2019-06-22 12:40] cgbaker commented on #60
@ketzacoatl et al.: I apologize for not addressing this earlier, this GH issue doing through the cracks.

The 1.4.0 Nomad provider released in May supports Terraform 0.12:
https://github.com/terraform-providers/terraform-provider-nomad/blob/master/CHANGELOG.md#140-may-20-2019

Thank you for bringing this up.

[2019-06-22 16:31] CodingMadeEasy commented on #60
Thanks for the update. Sadly I already ported over to Pulumi due to the lack of response. I hope to be back on Terraform sometime in the future

[2019-06-25 03:51] ketzacoatl commented on #65
This should be in the vault provider, no?

[2019-06-25 03:52] ketzacoatl commented on #60
I'm mostly trippin on #1, but I'm not quiet understanding @cgbaker, are you saying the provider currently supports TF 0.12.x, but not all of the spec? Or should this ticket be closed?

[2019-06-25 04:43] craigday commented on #65
Yes. I think you are right. Sorry about that.

[2019-06-25 13:42] ketzacoatl commented on #65
yes, you would need to close this and copy/paste the contents of the description to a new ticket in the vault provider repo.

[2019-06-26 13:23] #65 closed

[2019-06-26 13:44] cgbaker commented on #66
@nhi-vanye, it's not immediately clear what the problem would be. I will reach out to the Terraform team and see if they have any advice for this.

[2019-06-27 03:02] appilon commented on #60
Hello, you should be able to use the provider with version 1.4 of the provider.
[code]

[2019-06-27 07:19] shantanugadgil commented on #60
@ketzacoatl the idea about `local-exec` is pretty sweet. Brilliant, even! :grinning:

I say that because it creates a sort of nice separation between Terraform and the Nomad job; it allows one to do things using Nomad CLI if needed for debugging, etc purposes! :+1:

[2019-06-27 16:44] ketzacoatl commented on #60
Glad that's helpful @shantanugadgil!

@cgbaker are we able to close this b/c the provider already supports the 0.12.x attributes, or are there some attributes that are known "need to be added"?

[2019-06-27 16:49] cgbaker commented on #60
I don't think there's any other work necessary to support 0.12. if that
turns out not to be the case, we can reopen or file a new issue.

On Thu, Jun 27, 2019, 11:44 ketzacoatl <notifications@github.com> wrote:

[2019-06-27 16:54] #60 closed

[2019-06-27 16:56] cgbaker commented on #59
@jwslok, have you tried this with the v1.4.0 provider?

[2019-07-19 14:54] JanBerktold opened #69 "Using nomad namespace causes inconsistent result after apply error"
When setting a nomad namespace, the provider _always_ produces an `Provider produced inconsistent result after apply` error. The example can be fixed by setting the `namespace` input to an empty string.

## Terraform Version
[code]

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

The template:
[code]

### Debug Output
https://gist.github.com/JanBerktold/cc66903f5a30

[2019-07-23 20:37] cgbaker commented on #69
Thanks for the report, @JanBerktold , working on this now.

[2019-07-24 10:36] cgbaker commented on #69
The root cause seems to be that the calls to the Nomad API (specifically read and delete) do not reference the namespace. One limited workaround is to set the NOMAD_NAMESPACE environment variable before calling `terraform plan/apply/destroy/...`. This workaround assumes that the operator workflow supports that; it also assumes that the Terraform spec only references a single namespace.

I will rel

[2019-07-31 14:56] #69 closed

[2019-07-31 16:08] cgbaker commented on #69
@JanBerktold , just released 1.4.1 with support for this. let me know how it works.

[2019-08-01 16:42] robloxrob commented on #69
Thank you for the quick turn around!

[2019-08-13 14:26] analytically opened #71 "Add Nomad job HCL to JSON conversion data resource"
It would be handy to have a data resource to convert HCL to JSON.

[2019-08-13 14:50] cgbaker commented on #71
Interesting. Can you give me a couple of downstream use cases for this?

[2019-08-13 14:52] analytically commented on #71
Our usecase is templated jobs for cluster-broccoli (https://github.com/data-science-platform/cluster-broccoli) where it currently only accepts JSON jobs (as Nomad's API speaks JSON only apart from /v1/jobs/parse). We could also try and use the HTTP provider to convert HCL jobs to JSON but it currently doesn't support POST, see https://github.com/terraform-providers/terraform-provider-http/pull/22.

[2019-08-13 14:54] analytically commented on #71
See https://github.com/Data-Science-Platform/cluster-broccoli/wiki/Templates. We're running cluster-broccoli as Nomad job and use Nomad's template functionality to drop the templates (after already passing them through Terraform).

[2019-08-16 11:56] analytically commented on #71
@cgbaker is this something you'd accept a PR for?

[2019-08-16 13:31] cgbaker commented on #71
@analytically , sure!

[2019-08-26 14:52] cgbaker opened #72 "Provider should not attempt to delete `default` namespace"
Referencing the `default` namespace (e.g., while attaching a quota) will cause the TF provider to attempt to delete the namespace on `destroy`. This results in a 500 error. There are workarounds for this, but the root issue is that the TF provider should not attempt to delete things that we know _a priori_ cannot be deleted.

[2019-09-03 15:39] #72 closed

[2019-09-05 18:28] #66 closed

[2019-09-05 18:41] lgfa29 commented on #38
The second issue is related to #1, so it will be resolved when that issue is closed.

[2019-09-11 19:36] lgfa29 opened #76 "Update Nomad parser/API to 0.10"
Nomad [0.10.0-beta1](https://releases.hashicorp.com/nomad/0.10.0-beta1/) is out, so the provider should support its new features.

- [x] update `nomad` module depency
- [x] update tests
- [ ] update `nomad_job` data source

[2019-09-13 20:14] ketzacoatl commented on #54
Looks awesome!

[2019-09-13 20:15] ketzacoatl commented on #1
I am stoked to see this on the 1.5 milestone, rock on!

[2019-09-13 20:15] cgbaker commented on #54
in that case, i'll close this issue.

[2019-09-13 20:15] #54 closed

[2019-09-25 14:44] #76 closed

[2019-09-25 14:45] lgfa29 commented on #76
`nomad_job` data source will be update in a future PR.

[2019-09-27 21:04] lgfa29 commented on #38
Hi @amanjeev,

I wasn't able to reproduce this issue, so I am closing it for now.

Let us know if you are still having this problem in the latest version of the provider and we will re-open it.

[2019-09-27 21:04] #38 closed

[2019-10-15 18:24] lgfa29 opened #82 "Create data source for ACL policy"
# nomad_acl_policy

Get information on an [ACL policy](https://www.nomadproject.io/api/acl-policies.html#read-policy).

## Example usage

[code]

## Argument reference

* `name`: `(string)` Name of the ACL policy.

## Attributes reference

* `name`: `(string)` Name of the ACL policy.
* `description`: `(string)` ACL policy description.
* `rules`: `(string)` Policy rules in HCL or JSON format.

[2019-10-15 18:29] lgfa29 opened #83 "Create data source for listing ACL policies"
# nomad_acl_policies

Get a list of [ACL policies](https://www.nomadproject.io/api/acl-policies.html#list-policies) filtered by prefix. If no prefix is provided all policies are returned.

## Example usage

[code]

## Argument reference

* `prefix`: `(string)` Name prefix to filter policies.

## Attributes reference

* `policies`: `(list of maps)` A list of policies that match `prefix`.
    * `nam

[2019-10-15 18:33] lgfa29 opened #84 "Add computed value `create_time` to `nomad_acl_token` resource"
The `nomad_acl_token` resource is missing the `CreateTime` value returned by the [Nomad API](https://www.nomadproject.io/api/acl-tokens.html#read-token).

[2019-10-15 18:53] lgfa29 opened #85 "Create data source for ACL token"
# nomad_acl_token

Get information on an [ACL token](https://www.nomadproject.io/api/acl-tokens.html#read-token).

**Important:** this data source will store tokens in the Terraform state. The documentation should have a warning like the [one in the resource page](https://github.com/terraform-providers/terraform-provider-nomad/blob/master/website/docs/r/acl_token.html.markdown).

## Example usage

[2019-10-15 18:59] lgfa29 opened #86 "Create data source for listing ACL tokens"
# nomad_acl_tokens

Get a list of [ACL tokens](https://www.nomadproject.io/api/acl-tokens.html#list-tokens).

**Important:** this data source will store tokens in the Terraform state. The documentation should have a warning like the [one in the resource page](https://github.com/terraform-providers/terraform-provider-nomad/blob/master/website/docs/r/acl_token.html.markdown).

## Example usage

[cod

[2019-10-15 19:45] lgfa29 opened #87 "Create data source for Namespace"
# nomad_namespace

Get information on a [namespace](https://www.nomadproject.io/api/namespaces.html#read-namespace).

## Example usage

[code]

## Argument reference

* `name`: `(string)` Human-friendly name of the namespace.

## Attributes reference

* `name`: `(string)` Human-friendly name of the namespace.
* `description`: `(string)` A description of the namespace.
* `quota`: `(string)` A resou

[2019-10-18 19:59] softpunks commented on #85
👋 Hi I'm Maxine, and I would love to take a crack at this issue if that is alright. 😄

[2019-10-18 20:21] lgfa29 commented on #85
Great, welcome aboard @softpunks  :)

Feel free to start working on this. We can help validate your code as you work through it, so feel free to reach out if you need any help.

[2019-10-19 00:13] softpunks commented on #85
^ I think that PR should handle it. let me know if you have any feedback or changes

[2019-10-20 22:23] ddreier commented on #82
I believe that I have this mostly done. Will submit a PR soon.

[2019-10-22 16:12] adharmawan commented on #84
Hi I'd like to take this

[2019-10-22 16:23] cgbaker commented on #84
by all means, @adharmawan !

[2019-10-22 16:56] adharmawan commented on #86
I would like to take this as well :)

[2019-10-22 20:37] lgfa29 commented on #86
@adharmawan go for it :)

Let us know if you have any questions.

[2019-10-24 20:27] #84 closed

[2019-10-28 16:56] #85 closed

[2019-10-29 18:06] analytically commented on #71
Cluster-broccoli now supports HCL templates directly.

[2019-10-29 18:06] #71 closed

[2019-11-02 03:22] softpunks commented on #87
I can take a crack at this ✋

[2019-11-05 20:38] lgfa29 commented on #87
Awesome, thanks @softpunks 😄

This one will be a little trickier than the previous ones because namespaces is an Enterprise feature, so you will have to work around that (for example, mocking the API based on our [docs sample response](https://www.nomadproject.io/api/namespaces.html#sample-response-1)).

We can help you test cases not covered in the docs, so feel free to reach out if you need any

[2019-11-15 02:06] analytically opened #91 "Add sensitive flag to avoid outputting job spec"
It'd be handy to be able to specify 'sensitive: true' for a nomad_job so it won't output the jobspec to stdout. Job specs often contain environment vars with sensitive info (passwords) and CI tools then have this in their logs.

[2020-01-31 19:13] wfeng-fsde opened #92 "Terraform nomad_job throwing "`job` stanza not found" error during `terraform plan` when we have made no code change"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2020-01-31 19:26] cgbaker commented on #92
Hi @wfeng-fsde , thanks for the report. Was there an upgrade (of Terraform or the Nomad provider) that changed to cause this?

[2020-02-04 06:48] rmlsun commented on #92
@cgbaker Teammate of @wfeng-fsde here.

We ran into this issue with Terraform 0.12.18 first I believed. Then we tried using latest Terraform 0.12.20. But we ran into same issue with both versions of Terraform.

On the nomad provider side, since the provider version spec is "~> 1.4", I am not sure if we were using the same version earlier, but now I see we're pulling v1.4.2 version of nomad tf prov

[2020-02-04 07:11] rmlsun commented on #92
FWIW, here are the log messages when running tf with TRACE log level:

[code]

[2020-02-04 07:24] rmlsun commented on #92
@cgbaker Given nomad tf provider v1.4.2 was released on `Oct 11, 2019`, and we had had several tf deployment after that date with nomad v0.10.x, my guess is that we had been using this v1.4.2 nomad provider earlier without any issue.

[2020-02-04 18:23] cgbaker commented on #92
I'm not getting the same error as you, but I'm getting something similar. Using the following versions:
[code]
and a shortened template base on the one included above. I get the following error:
[code]
The reason is that the `jobspec` string for the `nomad_job` resource must be a valid Nomad jobspec; specifically, it must include a `job` stanza. The error is resolved by modifying my template file

[2020-02-06 03:10] Legogris opened #93 "terraform apply sometimes fails due to arbitrary ordering of volume_mounts"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.12.20
+ provider.nomad v1.4.2
+ provider.null v2.1.2
+ provider.random v2.2.1
+ provider.template v2.1.2

### Nomad Version
Build 0.

[2020-02-06 13:20] cgbaker commented on #93
Thanks for the report, @Legogris. I'm looking into a solution.

[2020-02-06 19:53] cgbaker commented on #93
I reproduced this using your example, and I am working on a patch.

[2020-02-06 21:56] cgbaker commented on #93
after this PR goes through, we'll go ahead and publish this in `1.4.3`

[2020-02-07 00:44] #93 closed

[2020-02-07 19:31] cgbaker commented on #82
closed by #89

[2020-02-07 19:31] #82 closed

[2020-02-10 09:36] Legogris commented on #93
Thanks @cgbaker <3

[2020-02-10 14:08] Legogris opened #96 "connect sidecar_service does not support tags"
### Terraform Version

Terraform v0.12.20
+ provider.nomad v1.4.3
+ provider.null v2.1.2
+ provider.random v2.2.1
+ provider.template v2.1.2

### Nomad Version
0.10.2

[code]
[code]

`sidecar_service` supports tags and this is necessary to avoid collisions on routes when configuring load balancers such as Fabio and traefik.

https://www.nomadproject.io/docs/job-specification/sidecar_service.html
h

[2020-02-10 14:13] cgbaker commented on #96
thanks for the report, we'll look at this today.

[2020-02-10 21:20] #96 closed

[2020-02-10 21:21] cgbaker commented on #96
will immediately release 1.4.4 with this change

[2020-03-27 14:14] jrasell opened #98 "upgrade Nomad dependancy once Nomad 0.11.0 is released"
The Nomad 0.11.0-beta1 was recently released with a lot of new features, including new jobspec stanzas. Once the 0.11.0 release goes live, the provider should be updated to track the latest version.

[2020-03-31 13:18] cgbaker commented on #98
i've got a few changes still in flight for the API (mostly around the scaling API), then we can take care of this.

[2020-04-08 08:45] raypettersen commented on #98
Any traction on this? We're testing the RC and are a bit stuck atm.

[2020-04-08 12:46] cgbaker commented on #98
i was waiting on an API fix which just shipped with nomad 0.11.0-rc1
i will release 1.4.5 today with support for the 0.11.0 API

[2020-04-08 20:14] #98 closed

[2020-04-08 20:17] cgbaker commented on #98
release pipeline in flight, should be available in a little bit.

[2020-04-08 20:46] cgbaker commented on #98
done! enjoy! 🎉

[2020-04-15 07:32] mahsoud commented on #92
I also ran into this bug with Terraform v0.12.24 + provider.nomad v1.4.5

We are able to reproduce 100% of time. Here is my job template:

[code]

and this is main.tf:

[code]

it works fine on first apply, but after nomad_job is added to state file, the refresh of the state fails to parse job spec with error "'job' stanza not found"

[2020-04-15 08:05] mahsoud commented on #92
Tried replacing timestamp with random_id (via random provider) and got the same result.

Moved deploy_timestamp from meta, into template and also got the same result.

It seems that any dynamic value that changes between apply commands causes the bug. At the same time, if deploy_timestamp is set via a terraform variable that we change between applys works fine.

[2020-04-15 09:42] cgbaker commented on #92
Thank you for the detailed reproduction. I will check this out again.

On Wed, Apr 15, 2020, 03:06 mahsoud <notifications@github.com> wrote:

[2020-04-20 11:29] sparkacus commented on #56
Is there a way to have the detach option support the new lifecycle configuration? 0https://www.nomadproject.io/docs/job-specification/lifecycle/

I'd like a way to only mark a deployment as success if all tasks are started successfully and without error.

[2020-04-20 14:53] cgbaker commented on #56
@sparkacus , do you mind opening a new issue, with some specifics about your configuration, what behavior you are observing, and what you'd like it to be. thanks!

[2020-04-29 20:15] cyrilgdn commented on #92
Even if the generated value doesn't change :thinking:
I used:
[code]

So the generated value today was ``2020-04-29``, both apply was made today and I had this error on the second one. Very strange :open_mouth:

[2020-04-29 21:36] cyrilgdn commented on #92
@cgbaker So I quickly checked and here:

https://github.com/terraform-providers/terraform-provider-nomad/blob/f8b584cd73bc9dce1e64c8758fa62806aba77486/nomad/resource_job.go#L449-L459

As soon as there is a `timestamp()` call, the field is set as computed (as Terraform can't know the value before the real apply) and  `d.GetChange` returns an empty value for `newSpecRaw` so the JSON parsing fails.

[2020-05-12 10:46] mahsoud commented on #92
I believe this is fair, and in my case, this was expected and desired behaviour

[2020-05-14 12:01] rejackson73 opened #102 "Enhancement: Support for Nomad Volumes"
With support for CSI storage, Terraform provider for Nomad needs to support registration of Volumes.  Full parameter set for Volumes are located in the [Nomad Volume Register documentation](https://www.nomadproject.io/docs/commands/volume/register/).

Terraform v0.12.24
provider.nomad v1.4.5
Nomad v0.11.0

[2020-05-14 12:24] jrasell commented on #102
Hi @rejackson73 and thanks for taking the time to raise this issue. This would be a great addition and has been marked as an enhancement accordingly.

[2020-05-15 20:55] cgbaker opened #104 "job resource not returning `deployment_id` or `deployment_status`"
### Terraform Version
Terraform v0.12.25
Nomad Provider Version 1.4.5

### Nomad Version
0.11.2

### Issue

When setting a job resource with `detach = false`, the deployment information (if any) should be returned in `deployment_id` and `deployment_status`. This is not happening because of an improper return from `deploymentStateRefreshFunc`.

Furthermore, the provider was not unsetting these when

[2020-05-17 17:05] #92 closed

[2020-05-17 17:05] #104 closed

[2020-05-19 14:02] mahsoud commented on #104
@cgbaker What is the expected behaviour now for batch jobs? I started getting 404 error with the release of this fix:
`resource nomad_job this {
  jobspec                 = file("${path.module}/nomad_job.tpl")
  deregister_on_destroy   = true
  deregister_on_id_change = true
  detach                  = false
}
`
$ terraform apply
nomad_job.this: Creating...
nomad_job.this: Still creating... [10s e

[2020-05-19 14:16] cgbaker commented on #104
That's a bug on my part. I'll fix that today. My apologies.

On Tue, May 19, 2020, 09:02 mahsoud <notifications@github.com> wrote:

[2020-05-19 15:36] cgbaker commented on #104
@mahsoud, would you mind filing a new issue? I'd like to see the Terraform output with `TF_LOG=8`, as well as the Nomad logs.

It seems that in your case, the evaluation is being garbage collected while waiting for the deployment (it shouldn't be waiting, because batch jobs don't create deployments.) So, the provider needs to better handle the GC'd evaluation, and it needs to handle the bug around

[2020-05-19 15:38] mahsoud commented on #104
sure thing, thank you!

[2020-05-19 17:26] mahsoud opened #109 "nomad_job (batch) fails to return allocation_ids"
Terraform v0.12.24
provider.nomad v1.4.6
Nomad v0.11.1

Terraform Configuration Files:
[code]

Sample job file:
[code]

Affected Resource:
- nomad_job

Debug Output:
- terraform: https://gist.github.com/mahsoud/62701edfa8440dd8854c0d018afac863
- nomad: https://gist.github.com/mahsoud/722702b6197ead29ad3729edbbbd593b

Expected Behavior:
Job to be created, and allocation_ids retuned.

Actual Behavio

[2020-05-19 17:38] cgbaker commented on #109
Can you run `TF_LOG=8 terraform apply -auto-approve`? Also, what is the status of `nomad job status -verbose scenario-validation` after the failure? It appears that the evaluation has been GC'd sometime between one check and the next.

[2020-05-19 19:07] mahsoud commented on #109
Hey,
As far as I understand TF_LOG=8  is invalid and is equivalent to TF_LOG=TRACE?

I've also set TF_LOG_PATH to a local file, the content is here:https://gist.github.com/mahsoud/62701edfa8440dd8854c0d018afac863

The evaluation indeed seems to be GC'd almost immediately, maybe you could advise me how to deal with that :p ?

[2020-05-19 20:09] cgbaker commented on #109
The good news is that the current bug, where the provider is looping waiting for a non-existent deployment, seems to be exacerbating the issue by allowing enough time for the job to complete. This would happen if `eval_gc_threshold` was very short or there is a manual GC call.

Can I ask why you're using `detach = false`?

[2020-05-20 06:27] mahsoud commented on #109
I use allocation_ids to check the status of the last allocation using script & null_resource

[2020-05-20 06:29] mahsoud commented on #109
Confirmed with my team that eval_gc_threshold is set to default 1 hour; however I do not see terminal allocations, they seem to be garbage collected seconds after completing.

[2020-05-20 15:58] cgbaker commented on #109
is the job GC'd as well?

[2020-05-20 16:05] cgbaker commented on #109
The client logs indicate that the server removed the allocation. Can you provide the server logs as well? Does this happen repeatedly, or was this a one-time bad luck?

[2020-05-21 21:34] mahsoud commented on #109
It does happen consistently, now with v1.4.6.
I did notice the issue on older builds, but they were rare.

I'll be able to troubleshoot it further early next week. Will update settings on the client-side, to make sure GC is not triggered as often and will try to reproduce the issue with a server under my control. Thank you.

[2020-05-28 15:20] hashibot[bot] opened #110 "nomad provider 1.4.6 does not accept jobspec in json"
_This issue was originally opened by @luisfelipemourapereira as hashicorp/terraform#25057. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hello,

This bug exists between Nomad and Terraform so I will be including relevant Nomad information.

### Nomad Version
[co

[2020-05-28 19:16] lgfa29 commented on #110
Hi @luisfelipemourapereira, thanks for filing this issue.

From the information you passed it seems you are using a JSON input that was somewhat directly derived from the HCL.

This will not work because the provider expects the JSON input to have the same [structure as used in the Nomad API](https://www.nomadproject.io/api-docs/json-jobs/). You will either have to craft your JSON following that s

[2020-05-28 21:28] luisfelipemourapereira commented on #110
@lgfa29 Thank you for the guidance, I will take your suggestions and let you know how it goes.

[2020-05-28 21:44] luisfelipemourapereira commented on #110
@lgfa29 excellent, things worked out!  I'm going to write some notes here about the working state and some things I've found when trying to do this in case someone else tries to.

### Terraform template with spec that worked

in this case I injected directly as a string as opposed to the other example where I used file()
[code]

This command to translate to JSON was great and also gave me a good s

[2020-05-28 21:58] lgfa29 commented on #110
Great! I am glad you were able to get it working.

Updating the docs to make this more clear makes total sense, I will work on it right right away. Thanks for the feedback.

I will close this issue now, but feel free to open a new one if hit any other problem.

[2020-05-28 21:58] #110 closed

[2020-06-02 17:24] CarelvanHeerden opened #112 "Nomad Provider does not deploy jobs to remote federated regions"
Hello

### Terraform and provider versions
[code]
### nomad server members
[code]
### Provider Configuration
[code]

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

### Nomad Job Files
traefik.hcl:
[code]

traefik_eu.hcl:
[code]

### Expected Behavior
Nomad Job deployment should honor the region set in the nomad job file
When the region is set to EU, and the regions

[2020-06-04 22:40] lgfa29 commented on #112
Hi @CarelvanHeerden,

you can use an [`alias`](https://www.terraform.io/docs/configuration/providers.html#alias-multiple-provider-instances) to have one instance of the Nomad provider for each region. Here's an example:

[code]

Terraform should do the right thing then:

[code]

Give a try and let me know how it goes.

[2020-06-08 14:57] CarelvanHeerden commented on #112
It worked! Thank you for your help. I missed the alias option completely

[2020-06-08 15:45] #112 closed

[2020-06-15 09:48] mahsoud commented on #109
Reproduced the issue with v1.4.6 on a test nomad instance, to ensure allocation is not GC'd :)

Terraform exited with error after 5 min timeout:
[code]

Log files:
Terraform: https://gist.github.com/mahsoud/6e690e67f1f8d313501f602bbba50788
Nomad Agent: https://gist.github.com/mahsoud/0b710f505d541a9e229dbc461a4b02e8

Seems that the only issue here is indeed the fact that provider is looping waitin

[2020-06-15 12:33] cgbaker commented on #109
Would you mind trying 1.4.7?

On Mon, Jun 15, 2020, 04:48 mahsoud <notifications@github.com> wrote:

[2020-06-15 13:41] mahsoud commented on #109
how did I miss release :) looks good to me, thank you!

[2020-06-15 13:41] #109 closed

[2020-06-17 16:00] cgbaker opened #119 "Update for nomad 0.12.0-beta1"
API client and jobspec parsing needs to be updated for the upcoming 0.12.0-beta1 release of Nomad

[2020-07-03 21:12] cgbaker commented on #119
resolved by #121

[2020-07-03 21:12] #119 closed

[2020-07-08 13:10] remilapeyre commented on #86
It seems like no pull requests have been submitted for this, @andyyaldoo if your are not working on this, I can submit a pull request.

I think we could do the same thing that what we did in the Consul provider, which is having a `[consul_acl_token](https://www.terraform.io/docs/providers/consul/d/acl_token.html)` resource that fetch the public information associated with a token and a `[consul_ac

[2020-07-08 15:52] lgfa29 commented on #86
That's a good idea @remilapeyre, thanks for bringing it up to us. Since there haven't been any activity on this issue I will assign it to you.

@andyyaldoo thank you for your work so far. I hope it's OK to pass this on to @remilapeyre, but feel free to reach out if you are still interested.

[2020-07-08 16:40] remilapeyre commented on #91
This would mean the diff is always hidden and you would never be able to see what changes exactly would get deployed. We had the same needs for the Consul provider at https://github.com/terraform-providers/terraform-provider-consul/issues/159 but ultimately decided against it as it would decrease the usability of the provider for the general usage and secrets should be stored in Vault. I suspect t

[2020-07-08 19:23] analytically commented on #91
At the same time this disables most usage of Consul/Nomad without strict Vault integration.

[2020-07-08 20:19] cgbaker commented on #86
alternatively, @remilapeyre , there could be an attribute `(default: false)` which instructs the provider to not persist the secret IDs.

[2020-07-08 22:17] remilapeyre commented on #87
@lgfa29  You can use the binaries at https://releases.hashicorp/com marked with `+ent` to try the enterprise features, you should get a few hours to work on it before the cluster locks itself up.

If you don't work on this issue anymore I can send a PR.

[2020-07-08 23:26] lgfa29 commented on #87
That wasn't true for Nomad until a few weeks ago when we added support for licensing in `0.12.0-beta2` https://releases.hashicorp.com/nomad/ 😄

But you are right, it should be easier to work on this now. I will re-assign this to you and update the issue to point to the enterprise binaries.

@softpunks thank you for all your work on other issues!

[2020-07-08 23:31] lgfa29 commented on #86
@cgbaker `default: false` meaning storing the SecretID is opt-in, so it won't be stored by default?

[2020-07-09 10:39] cgbaker commented on #86
that's what I meant... too many negatives:
`fetch_secret_id: boolean (default: false)`

[2020-07-09 11:48] #102 closed

[2020-07-10 20:02] cgbaker opened #124 "add `purge_on_delete` to `nomad_job` resource"
the `nomad_job` resource currently stops the job, but does not purge it. we should add an option to this resource so that the job is purged when the resource is destroyed.

[2020-07-10 20:05] cgbaker opened #125 "add namespace to `nomad_job`"
some users have requested the ability to specify the `namespace` on a nomad job without having explicitly putting it into the job spec. this can be done by taking the existing computed attribute `namespace` and allowing it to be (optionally) specified.

specifically, would like to be able to do something like this:
[code]

[2020-07-11 15:05] remilapeyre commented on #86
Hi I just opened a PR, the API endpoint that list the tokens does not give the `secret_id` so another API call for every token would be needed to fetch it. I did not implemented that as it is already possible to have this behavior by combining `nomad_acl_tokens` and `nomad_acl_token`. Let me know if you want me to change this.

[2020-07-11 21:15] #124 closed

[2020-07-11 21:33] #87 closed

[2020-07-13 11:49] #86 closed

[2020-07-14 09:47] liemle3893 commented on #1
It have been a year since the last comment. Any update on this?

[2020-07-14 14:20] ketzacoatl commented on #1
@cgbaker WRT the roadmap, are there refactors or internal changes that block fixing this properly?

[2020-07-14 19:05] cgbaker commented on #1
we were waiting for the update 2.0 plugin SDK to see if it helped deal with this. we're actively looking at it now; we want this issue dealt with in the next few months as part of the Nomad 1.0 milestone.

[2020-07-23 16:00] shannonmcin opened #134 "Nomad jobspec "task =" line in service stanza causes a parsing error"
### Terraform Version
Terraform v0.12.24

### Nomad Version
Nomad v0.12.0-beta2 (5b80d4e638f1a27eee3ca245f8babb115e4c098d)

### Provider Configuration

[code]
We are using version 1.4.8 of the provider, from the [hashicorp release listing](https://releases.hashicorp.com/terraform-provider-nomad/1.4.8/).

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

in runtime.tmp

[2020-07-23 17:27] cgbaker commented on #134
thanks for the report @shannonmcin , the 1.4.8 provider should support all of the Nomad 0.12.0 API. i'm looking into this now.

[2020-07-23 17:34] cgbaker commented on #134
hi @shannonmcin , i wasn't able to reproduce this locally. can you provide me the output of `terraform -v`?

[2020-07-23 18:25] shannonmcin commented on #134
I'm not getting it either anymore; I cleared out the state on my machine and re-downloaded the Nomad provider, Terraform, etc., and a resource with the same jobspec does successfully get applied. I must have had an old version of the provider, but thought I had the most recent. So sorry about that, but thanks so much for your quick response!

[2020-07-23 18:25] #134 closed

[2020-07-28 16:32] lgfa29 commented on #1
Hi everyone,

This issue has been going for a while, but we are still actively tracking it. I also think we are overdue for a more thorough update, so here is a description of the problem and what we've tried so far (and why it didn't work).

### Why this is happening

This issue happens because the job resource doesn’t have separate attributes for each possible field in the jobspec. Instead, it r

[2020-08-03 09:33] Legogris commented on #1
Thanks for the update @lgfa29, it certainly gives clarity on why this is not trivial.

Just curious if you have a current working idea of how this should be addressed or if it's still being explored?

[2020-08-03 11:47] Legogris opened #135 "import for nomad_job"
The docs don't mention anything re importing existing nomad_job resources into state.
Is this supported but not documented, or a missing feature?

[2020-08-03 12:10] Legogris commented on #135
Simply not supported was easily verified, closing this.

[2020-08-03 12:10] #135 closed

[2020-08-06 21:33] lgfa29 opened #137 "Add importer to resources"
Terraform allows importing existing resources into a state using the [`terraform import`](https://www.terraform.io/docs/import/index.html) command. In order to support this functionality resources must implement the functionalities described in this [guide](https://www.terraform.io/docs/extend/resources/import.html).

It may not be possible to add `Importer`s to all resources, but we should try ad

[2020-08-06 21:35] lgfa29 commented on #135
Thank you for bring this to our attention. We currently don't support importing any resource, but I don't see any reason for this.

I created an issue (#137) so we can track this.

[2020-08-06 21:37] lgfa29 commented on #1
Yes, we are still actively looking for a solution. I will make sure to post new updates, even for failed attempts.

[2020-08-06 21:46] remilapeyre commented on #1
Hi, I've not yet tried it but why not leverage the diff abilities from Nomad to make the diff? Either by exposing it in the Nomad client or adding an endpoint that would return the diff between the new job and the current one (but not actually submitting it).

[2020-08-12 16:54] Legogris opened #139 "Add support for service check failures_before_critical"
When doing plan:

[code]

https://www.nomadproject.io/docs/job-specification/service.html#failures_before_critical

[2020-08-12 19:57] cgbaker commented on #1
hi @remilapeyre , we already do that for `CustomizeDiff`:
https://github.com/terraform-providers/terraform-provider-nomad/blob/master/nomad/resource_job.go#L518

the issue is that the current Terraform plugin SDK doesn't care about all those `computed` fields that we get from the Nomad API... we would need to update the `jobspec`. there are some options there, where we use it as a sentinel, which

[2020-08-13 14:10] #139 closed

[2020-08-13 17:25] lgfa29 commented on #139
Thanks for the report @Legogris.

I just released a version that supports these new values from Nomad 0.12.2.

[2020-08-14 20:06] cgbaker commented on #125
because this is a computed field, making it also `optional` (so that users can specify it) causes a bunch of problems with the terraform plugin SDK, as it currently stands. we can revisit this later; they plan is to provide a new Nomad job resource which is structured to allow all viable fields at the top level.

[2020-08-19 16:45] rigrassm opened #145 "Implement mount_options for nomad volume resource"
### Terraform Version
[code]

### Nomad Version
[code]
### Provider Configuration
Nomad Address and Nomad Token are exported as Environment Vars

[code]

### Environment Variables
Do you have any Nomad specific environment variable set in the machine running Terraform?

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- nomad_volume

### Terraform Configuration Fi

[2020-08-24 15:26] lgfa29 commented on #1
Thanks for the feedback @chuckyz. Creating a new resource seems to be the best approach we have right now, so we will move forward with that (but with a better name than `nomad_job_new` 😄).

[2020-08-24 17:33] chuckyz opened #146 "Request: nomad_job + deployment to completion?"
I'm unsure where to request this, but with the discussion in #1 about opening up nomad jobs the way they are, could we use deployment data resources to watch nomad jobs to completion?

I'm imagining a pure terraform workflow of actually watching job deployments to success.

Basically...

[code]

I understand that the above is wrong/won't work.  However, I'd like to get some community thoughts on i

[2020-08-24 21:03] cgbaker commented on #146
@chuckyz , the Nomad resource already supports this. Setting the `detach` field ([docs](https://registry.terraform.io/providers/hashicorp/nomad/latest/docs/resources/job#detach)) to `false` will cause the provider to wait for the deployment to complete during create/update.

[2020-08-28 13:01] #145 closed

[2020-09-02 07:16] jrasell opened #150 "deps: provider should avoid importing `github.com/hashicorp/vault`"
Vault issue comment reference: https://github.com/hashicorp/vault/issues/9575#issuecomment-665013482

The Nomad provider currently imports `github.com/hashicorp/vault` because of its use of `config.DefaultTokenHelper()` within `provider.go`. A per the above discussion Vault imports should be limited to `sdk` and `api` otherwise problems may occur.

A quick look indicates there is no token helper f

[2020-09-02 20:25] chuckyz commented on #146
Well heck, I'm gonna close this up and get new glasses then!

[2020-09-02 20:25] #146 closed

[2020-09-02 23:37] the-maldridge opened #151 "Feature idea: nomad_datacenter data source"
Similar to the nomad_namespaces that provides a list of known nomad namespaces, it would be nice to have an equivalent data source that could list the datacenters in a given cluster.  This would make re-usable terraform modules much easier and more automatic.

[2020-09-03 15:31] lgfa29 commented on #151
Thanks for the idea @the-maldridge!

The Nomad API doesn't have an endpoint to list datacenters, but this seems to be doable using the [`GET /v1/nodes`](https://www.nomadproject.io/api-docs/nodes#list-nodes) endpoint and iterating over the list, collecting the set of datacenters along the way.

This list would change as nodes are added or removed, so we will need to make sure to handle this.

[2020-09-03 17:32] the-maldridge commented on #151
@lgfa29 interesting!  I thought it was really clever when the datacenters filter showed up in the UI a few releases ago, but it seems like that may be making more requests than I thought originally.

I think its probably okay for it to be correct at the time of read, my intended use case is to get the list of datacenters to feed into a nomad_job and push a system job to all machines.

[2020-09-15 16:05] codyja opened #153 "New Resource - Operator Scheduler Configurations"
It would be fantastic if we could get support for managing the new Scheduler Configuration. I'm specifically interested in managing SchedulerAlgorithm=spread for example. Here's a link to the api section describing this:
https://www.nomadproject.io/api-docs/operator#scheduleralgorithm-1

[2020-09-15 16:07] jrasell commented on #153
Hi @codyja and thanks for taking the time to write this up. I agree, this would be a very useful addition to the provider.

[2020-09-15 19:41] rigrassm commented on #145
Any ETA for when a release will be made with this change included?

[2020-09-16 13:54] mahsoud opened #154 "Terraform leaves orphant periodic jobs after destroying parent"
Terraform v0.12.28
provider hashicorp/nomad v1.4.9

### Nomad Version
nomad.version 0.12.3
nomad.revision 2db8abd9620dd41cb7bfe399551ba0f7824b3f61

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

Sample job file:

[code]

### Expected Behavior
Not sure if this should be handled by the provider or nomad server itself.

### Actual Behavior
Orphant jobs remain in a pen

[2020-09-16 14:58] cgbaker commented on #154
Can you please provide the `job status` and `job inspect` for the parent job and one of the periodic children?

[2020-09-22 20:09] mahsoud commented on #154
nomad job status scenario-validation
Prefix matched multiple jobs
[code]

[2020-09-28 14:48] lgfa29 commented on #154
Thanks for the extra info @mahsoud. Do these pending job eventually complete? Or is the problem that they remain stuck at pending after running `terraform destroy`?

[2020-10-09 18:51] cageyv opened #155 "Feature request: Add key connect.gateway in nomad_job.jobspec"
### Terraform Version
0.13.4

### Nomad Version
0.12.5

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
- ingress.hcl
[code]
- main.tf
[code]

### Expected Behavior
https://www.nomadproject.io/docs/job-specification/gateway#gateway-stanza

### Actual Behavior
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform app

[2020-10-20 13:29] Legogris commented on #1
Would it make sense to incorporate it in #149?

[2020-10-28 21:53] rigrassm opened #159 "Timeline for next release?"
First off, thank you guys for the excellent work!

In #145, support for `mount_options` was added for volume registration and this is something that we are eagerly awaiting as it removes the last part of our deployment that relies on work being done manually with the nomad binary.

I'm guessing the wait to make another release since that PR was merged was due to the Nomad 1.0 release (which actual

[2020-10-28 21:59] cgbaker commented on #159
working on it right now!
https://github.com/hashicorp/terraform-provider-nomad/pull/158
should be a release tomorrow

[2020-10-28 23:27] lgfa29 commented on #155
Closed by #158

[2020-10-28 23:27] #155 closed

[2020-10-28 23:31] lgfa29 commented on #154
Hi @mahsoud 👋

just checking in to see if you happen to have any update on this?

[2020-10-29 00:11] lgfa29 commented on #1
Yup. #149 is being developed exactly to solve this issue 👍

[2020-10-29 04:59] rigrassm commented on #159
@cgbaker, perfect timing, thank you!

[2020-10-29 14:54] lgfa29 commented on #125
Closing this for now as it has the same underlying issue of #1. We will address this problem in #149.

[2020-10-29 14:54] #125 closed

[2020-10-29 21:41] #83 closed

[2020-10-30 00:19] lgfa29 opened #163 "Flaky tests"
This is an issue to collect and fix flaky tests. If you notice a test that was not modified failing, add it to the list below. Once the flakiness has been resolved the test can be checked.

- [ ] `TestResourceJob_vaultMultiNamespace`
- [ ] `TestResourceJob_purgeOnDestroy`
- [ ] `TestResourceJob_refresh`
- [ ] `TestResourceJob_rename`
- [ ] `TestResourceJob_service`
- [ ] `TestResourceJob_disableDe

[2020-10-30 16:10] aroundthfur opened #164 "restart and lifecycle stanza's return `invalid key:` error"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

This command will also output the provider version, please include that as well.

`Terraform v0.12.29`

Terraform provider version:
[code]

### Nomad Version
Run `nomad server members` in your target node to view which

[2020-10-30 16:25] cgbaker commented on #164
hi @aroundthfur , can you run `terraform -v` after `terraform init`, so that we can see the version of the Nomad TF provider?

[2020-10-30 16:30] aroundthfur commented on #164
@cgbaker sorry forgot to add that, it is in the original report now!

[2020-10-30 16:31] aroundthfur commented on #164
hmm, the provider version is 1.4.5, not sure why there is no full output in the terraform init command.

[2020-10-30 16:36] aroundthfur commented on #164
@cgbaker  i am so so so sorry, it was my nix-shell environment that did not load the new provider properly. 1.4.2 had these issues, but after upgrading to 1.4.5 today and loading the env properly, everything looks fine.

Closing, and sorry once again!

[2020-10-30 16:36] #164 closed

[2020-10-30 18:41] #153 closed

[2020-10-30 22:00] #151 closed

[2020-10-30 22:01] the-maldridge commented on #151
Thanks!

[2020-10-30 23:03] lgfa29 commented on #159
The new version is out now 🎉

I am going to close this issue, but feel free to open a new one if you have any problems with the new `mount_point` attribute.

[2020-10-30 23:03] #159 closed

[2020-10-31 00:00] lgfa29 commented on #151
No problem! I'm glad I was able to squeeze this one into the release 😄

[2020-11-09 23:54] acornies opened #172 "Error when registering a volume in a Nomad namespace"
### Terraform Version
Terraform v0.13.4
+ provider registry.terraform.io/hashicorp/nomad v1.4.10
+ provider registry.terraform.io/hashicorp/template v2.2.0
+ provider registry.terraform.io/terraform-provider-openstack/openstack v1.32.0

### Nomad Version
v1.0.0-beta2+ent

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
None

[2020-11-10 00:13] lgfa29 commented on #172
Hi @acornies, thanks for the report. This issue has been recently fixed in #169.

As a workaround until the next release is out, you can set the environment variable `NOMAD_NAMESPACE` to the namespace you would like to target before running `terraform apply`.

[2020-11-10 00:22] acornies commented on #172
Thanks for the quick response and workaround!

[2020-11-10 00:23] #172 closed

[2020-12-16 14:52] lsc opened #176 "Namespaces are part of OSS as of 1.0.0"
The Terraform registry page for the Nomad provider [here](https://registry.terraform.io/providers/hashicorp/nomad/latest/docs/resources/namespace) has a warning box at the top that says that the API endpoint is only part of Enterprise.

As of Nomad 1.0.0, the Namespaces part is distributed with the OSS releases.

[2020-12-16 15:10] #176 closed

[2020-12-16 15:10] cgbaker commented on #176
thanks, @lsc

[2020-12-25 10:55] xinau opened #179 "missing support for hcl2 jobspec"
### Terraform Version
[code]

### Nomad Version
[code]

### Provider Configuration

[code]

### Affected Resource(s)
- nomad_job
- nomad_job_parser

### Terraform Configuration Files
[code]

[code]

### Expected Behavior

1 resource created.

### Actual Behavior

[code]

### Steps to Reproduce
1. `terraform apply`

### Important Factoids

HCL2 Language Support

[2020-12-27 02:13] thebeanogamer opened #180 "HTTP Basic Auth Support"
It would be really useful if the provider supported HTTP Basic Auth in the same way [hashicorp/terraform-provider-consul](https://github.com/hashicorp/terraform-provider-consul/) does. Whilst ACLs should provide the same level of security, an additional layer would be useful for workloads such as using the provider in Terraform Cloud to manage on-prem Nomad deployments. I'm sadly not familiar enou

[2020-12-29 15:06] thebeanogamer opened #181 "Support for TLS Certificates as Strings"
Currently, the Consul provider supports being given certificates for Mutual TLS inline (in a variable) or as a file path, in its `cert_pem` and `key_pem` fields. The Nomad provider lacks this functionality, as certificates can only be provided as paths. Matching this functionality would be very useful for environments like Terraform Cloud, where the only way to put a file onto a system would be to

[2020-12-29 17:28] spol-ihq commented on #179
Same here,

Adding `variables` block at the top of the `nomad.hcl.template` and using `dynamic group {}`:

[code]

Results in:
[code]

[2020-12-31 00:00] aditsachde opened #182 "Nomad Volume mount_options Issue"
### Terraform Version
[code]

### Nomad Version
[code]

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
N/A

### Affected Resource(s)
Please list the resources as a list, for example:
- nomad_volume

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Ter

[2021-01-08 02:51] macnibblet commented on #180
You can actually already do this by adding it to address in the provider. But it would be a lot better if this was more consistent.

[code]

[2021-01-13 21:05] #179 closed

[2021-01-14 08:36] #181 closed

[2021-01-14 17:05] lgfa29 commented on #91
Hi @analytically,

There are definitely pros and cons on marking `jobspec` as sensitive, and what @remilapeyre pointed out is a significant drawback in many cases.

[Terraform 0.14 added the capability of marking input variables as sensitive](https://www.hashicorp.com/blog/terraform-0-14-adds-the-ability-to-redact-sensitive-values-in-console-output). This allows marking `jobspec` as sensitive when

[2021-01-15 20:31] #182 closed

[2021-01-16 00:37] lgfa29 commented on #182
Hi @aditsachde,

Thanks for the report! #188 should fix this problem. It has a small backwards incompatibility, where you will need to remove the `=` character from the `mount_options` key (so it will go from `mount_options = {...}` to `mount_options {...}`).

You will also need to `terraform apply` once more to update the state, but after that Terraform won't trigger a change anymore.

Let us kno

[2021-01-16 01:02] lgfa29 opened #191 "Support HCL2 `file` function in jobspec"
### Terraform Version
[code]

### Nomad Version
[code]

### Provider Configuration
[code]

### Environment Variables
No

### Affected Resource(s)
- `nomad_job`

### Terraform Configuration Files

#### `main.tf`
[code]

#### `nginx.nomad`
[code]

#### `index.html`
[code]

### Expected Behavior
The `nginx` job is created with the index page content read from `index.html`.

### Actual Behavior
[code]

[2021-01-16 01:06] lgfa29 commented on #179
Thanks for the report @xinau!

@thiagonache updated our jobspec parser to use the HCL2 version from Nomad, and the fix will be available in the next release that will come out soon.

But HCL2 parsing is a bit more complex, so not everything is compatible yet. Your specific case (calling HCL2 functions in the Nomad jobspec) is unfortunately not covered on #185.

Since the HCL2 spec is quite big, I

[2021-01-18 19:04] #180 closed

[2021-01-19 20:21] yaroslav-007 opened #193 "Adding support for `datacenter` field on connect upstreams stanza"
Hi there,

I am working on a learning project. I am at step where I have to use consul connect between two datacenters.  The setting in a nomad job file should be as follows:

[code]
Nomad has added support for `datacenter` field on connect upstreams recently: https://github.com/hashicorp/nomad/issues/8964

The `nomad job run wordpress.nomad` with the above setting is successful , but nomad provid

[2021-01-19 22:52] lgfa29 commented on #193
Thank you for the report @yaroslav-007.

We updated our Nomad dependency in #166, so this won't be a problem anymore.

I will leave this open until the new version is out and you can confirm that the problem is fixed.

[2021-01-20 15:59] #191 closed

[2021-01-20 16:48] lgfa29 commented on #193
Hi @yaroslav-007,

[v0.14.12 is out now](https://registry.terraform.io/providers/hashicorp/nomad/latest), could you update the provider and check if this problem is fixed?

[2021-01-20 17:20] yaroslav-007 commented on #193
Hello,
Still the same:

[code]

[2021-01-20 17:42] lgfa29 commented on #193
Oh, this field was added after HCL2 support, so only the HCL2 parser recognizes it.

Could you update your Terraform config file to [use HCL2 parsing](https://registry.terraform.io/providers/hashicorp/nomad/latest/docs/resources/job#hcl2-jobspec) and try again?

[2021-01-20 17:51] Xopherus opened #194 "v1.4.12 - Incompatible API version with plugin"
### Terraform Version

0.11.14

### Nomad Version

0.12.6

### Provider Configuration

1.4.12

### Expected Behavior

The plan to be created with `terraform plan`.

### Actual Behavior

The plan failed with the above error:

[code]

### Important Factoids

We're not version capping the nomad provider, so we have (until today) been pulling in the latest provider version. We did not start to see thi

[2021-01-20 18:11] Xopherus commented on #194
It seems as this is probably related to the bump in terraform-plugin-sdk, which went from v1.16 (provider version 1.4.11) to v2.4 (provider version 1.4.12). v2 of the plugin sdk does not support Terraform < 0.12, but this provider does.

Shouldn't this update have been been a major version update, not a bugfix?

[2021-01-20 18:41] lgfa29 commented on #194
Hi @Xopherus,

You are right, the update to Terraform SDK v2 broke support for Terraform 0.11.x, which was an unintended consequence and we are sorry for that.

We will revert to SDK v1 until our next major release and publish a new version soon. In the meantime, you can pin the provider version to 0.14.11 so you are not blocked by this.

[2021-01-20 18:43] Xopherus commented on #194
Appreciate the follow up and thanks for clarifying @lgfa29 ! When do you think we can expect a new version?

[2021-01-20 22:21] jeffwecan opened #195 "Allow Passing Variables Input With hcl2 `nomad_job`"
### Terraform Version
`Terraform v0.14.5`

### Nomad Version
`1.0.1+ent`

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
Do you have any Nomad specific environment variable set in the machine running Terraform?

N/A

### Affected Resource(s)
Please list the resources as a list, for example:
- nomad_job

If this issue appear

[2021-01-20 23:28] #194 closed

[2021-01-21 00:02] lgfa29 commented on #194
@Xopherus the release is out, but it might still take a few minutes for the Terraform registry to refresh.

While this was an unintended upgrade, we do plan to drop support for Terraform v0.11.x [at some point this year](https://www.hashicorp.com/blog/deprecating-terraform-0-11-support-in-terraform-providers), so it's recommended to upgrade it if possible.

When it happens, we will make sure it is

[2021-01-21 07:47] yaroslav-007 commented on #193
Hello,

I can confirm that it works now

[2021-01-21 15:27] lgfa29 commented on #193
Awesome, glad to hear that 😄

I will go ahead and close this issue.

[2021-01-21 15:27] #193 closed

[2021-01-21 20:13] ketzacoatl opened #198 "QUESTION: when/why would the nomad provider "timeout" from Terraform's perspective?"
Hi there,

I've seen the nomad provider timeout reaching out to a nomad server, but until today, I hadn't ever seen the provider fail to respond to Terraform and error out like this:

![image](https://user-images.githubusercontent.com/10122937/105406565-7f583f80-5c24-11eb-839e-58f5e3af0f14.png)

I don't have enough info for a bug report w/ reproduction, so I'm primarily looking to ask under what c

[2021-01-21 20:38] lgfa29 commented on #198
Hi @ketzacoatl,

I don't recall ever running into this problem...from the screenshot it seems to have happened during a `terraform apply`, but does it also happen on `terraform plan`?

Also, would it be possible to provide how many resources are being managed by the Nomad provider?

Running something like `terraform state list | grep nomad_ | wc -l` would give a good estimate.

[2021-01-21 21:00] cgbaker commented on #198
Hi @ketzacoatl , running `TF_LOG=DEBUG terraform plan` may indicate where the breakdown is happening.

[2021-01-21 21:00] ketzacoatl commented on #198
Hello @lgfa29,

Yes, that's during a `terraform apply`. This is during a CI pipeline, and the plan runs before hand and passes ok.

In this case it's small, like 3 I think. A local file, a nomad_job, and a cloudwatch resource, then some data sources and a template.

[2021-01-21 21:05] ketzacoatl commented on #198
@cgbaker,

IDK that I can reliably reproduce this in the environment/CI pipeline where I've seen it (rerunning the job, there is no timeout). I've seen it happen more than once today.

I am a bit loaded up ATM, but I would like to try to create a minimal repro. That said, I'm not confident I'll be able to reproduce it, as this pipeline has run for tens of thousands of runs without this type of tim

[2021-01-21 23:31] lgfa29 commented on #198
Thanks for the extra info @ketzacoatl.

Looking through Terraform repo I found this issue which describes the same problem in other providers as well: https://github.com/hashicorp/terraform/issues/25133

The latest theory seems to point to open bug on Go 1.14, which is also the version we use to build the Nomad provider.

I've subscribe to that issue and will follow-up if there's any update.

Sinc

[2021-01-21 23:31] #198 closed

[2021-01-21 23:32] ketzacoatl commented on #198
That's great, thank you for the info and for staying on top of those details @lgfa29!

[2021-01-27 04:27] bhadrim opened #199 "Unable to build 1.4.13 or 1.4.12 using go install - GO version 1.13.15 and Terraform 0.12.21 , 1.4.11 and before works fine - Arch: ppc64le"
I am trying to build the provider in ubuntu ppc64le using go install. While go install works fine on 1.4.11, it fails on  1.4.13 and 1.4.12 with the following error. Thank you.

build github.com/hashicorp/terraform-provider-nomad: cannot load github.com/hashicorp/nomad/api: unzip /usr/local/gopath/pkg/mod/cache/download/github.com/hashicorp/nomad/@/v1.0.2.zip: malformed file path "website/pages/ap

[2021-01-27 17:11] lgfa29 commented on #199
Hi @bhadrim,

Thanks for reporting this issue. In versions 1.4.12 and 1.4.13 we added support for HCL2 jobspec parsing, which a bit more complex that HCL1.

Previously we were copying and syncing the jobspec parsing logic from the Nomad repo, which is not great. But with HCL2 we had to import the Nomad, which is also not ideal.

Cross-compiling seems to work from an `amd64` machine, but I don't ha

[2021-02-01 18:17] nallana opened #200 "Unable to Deploy Nomad Jobs When Consul 'allow_unauthenticated' Flag Set"
### Terraform Version
[code]

### Nomad Version

[code]

### Provider Configuration

[code]

### Environment Variables

[code]

N/A - Using Terraform Cloud

Environment variables set there are:

[code]

### Affected Resource(s)

- nomad_job

### Terraform Configuration Files

[code]

[code]

[code]

[code]

### Expected Behavior

Terraform plan and apply are able to deploy the Ingress Gateway job

[2021-02-02 18:06] nallana commented on #200
**Update: the above seems to also be the case for non-gateway jobs.**

Modified the provider to set the job ConsulToken parameter during job submission to match what appears to be happening in the CLI code, and that fixes the issue.

---

Changes: https://github.com/dystr-dev/terraform-provider-nomad/commit/4c6fa265b0127db703442f79b756c903f6738ce4

---

Please advise if looking at this wrong.

Usi

[2021-02-03 00:21] lgfa29 commented on #200
Thanks for the update @nallana! And I'm glad you were able to find a fix that works for you.

I haven't had the time to look deeper into the issue, but it does seem like you are correct and we are not parsing the Consul token properly.

I think a better approach would be to handle the Consul token similarly to how the [Vault token](https://github.com/hashicorp/terraform-provider-nomad/blob/master/

[2021-03-01 19:50] alexdulin opened #201 "Update Nomad API for 1.0.4 and terminating gateway support."
Nomad 1.0.4 released support for specifying terminating gateways within the `service.connect.gateway` stanza, but the current version of the Nomad API used by this provider does not include the `terminating` gateway type. It would be great if the provider could get a bump of the Nomad API to include support for the new gateway type.

[2021-03-03 07:48] #201 closed

[2021-03-09 23:41] lgfa29 commented on #198
Hi @ketzacoatl,

I haven't heard anything from the Terraform upstream team or any other user experiencing a similar issue.

Since it's been happening more often, would it be possible to capture some extra logs using `TF_LOG=TRACE` now?

[2021-03-09 23:44] lgfa29 commented on #199
Hi @bhadrim,

I am going to close this issue for now since there hasn't been any new activity in a while. Feel free to let us know if you have any updates and we can re-open it.

[2021-03-09 23:44] #199 closed

[2021-03-09 23:45] #154 closed

[2021-03-10 05:07] ketzacoatl commented on #198
This is in CI, but yea, I could get the log saved as a file artifact and wait until a run hits this timeout again.

[2021-03-10 15:30] lgfa29 commented on #198
Thank you. I understand that running debug logs on CI is not a good thing, but without being able to reproduce it we would need more information.

We appreciate all your help on this issue!

[2021-03-12 18:43] ElfoLiNk commented on #201
@jrasell could you please release a new version with this ? thanks

[2021-03-26 18:19] cgbaker opened #208 "Support new CSI dynamic volumes"
placeholder issue for nomad 1.1.0 release

[2021-03-26 19:29] Lucretius opened #209 "'job' stanza not found (error parsing non-existent old jobspec for new nomad_job)"
### Terraform Version
v0.14.9

### Nomad Version
v1.0.3

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
Do you have any Nomad specific environment variable set in the machine running Terraform?

`NOMAD_TOKEN`
`NOMAD_ADDR`
`NOMAD_REGION`

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

### Deb

[2021-03-29 17:57] Lucretius commented on #209
I am going to close this issue for now, as I think the error message I am getting is actually unrelated to the jobspec, but instead an issue with the fact that my server is behind a proxy which requires header authentication, which is currently not possible with the Nomad provider.  I would love to see https://github.com/hashicorp/terraform-provider-nomad/pull/203 merged to verify, and will re-ope

[2021-03-29 17:57] #209 closed

[2021-03-30 17:52] lens0021 opened #210 "Fail-fast for a fatal reserved port collision"
### Terraform Version

+ Terraform v0.14.8
+ provider registry.terraform.io/hashicorp/nomad v1.4.13

### Nomad Version

Nomad v1.0.4 (012e920e9b4531e90cde8e5efa8d5461f9de4374)

### Provider Configuration

[code]

### Affected Resource

- nomad_job

### Terraform Configuration Files
[code]

<details>
<summary>../jobs/mysql.nomad</summary>

[code]
</details>

The jobspec has a static port.

### Debu

[2021-03-31 21:18] #195 closed

[2021-04-05 14:00] lgfa29 commented on #91
Hi @analytically,

I'm closing this issue for now, but feel free to let us know if the proposed is not enough.

[2021-04-05 14:00] #91 closed

[2021-04-05 14:04] lgfa29 commented on #210
Thanks for the report @lens0021.

It's a bit strange that the Nomad API just hangs in this case. We'll have to investigate this further to see what's going on and how we can handle this.

[2021-04-06 13:21] ketzacoatl commented on #198
Just a quick note to update: I have not yet made any progress enabling debug logs in our CI setup. I need to do this on a project that is not so critical, and haven't scoped out time for the updates.

[2021-04-06 14:35] lgfa29 commented on #198
No problem @ketzacoatl 🙂

Thanks for the update!

[2021-04-06 16:47] #200 closed

[2021-04-13 18:44] Lucretius opened #214 "gateway -> invalid key: terminating"
### Terraform Version
This is being built in CI/CD using a docker container (hashicorp/terraform:0.14.9)

### Nomad Version
Running the `nomad server members` command shows all servers are using Build 1.0.4

### Provider Configuration

[code]

Provider-wise, the logs indicate that the provider is using the latest one which supports the new 1.0.4 syntax.  I've gone and pinned the version to this la

[2021-04-13 23:21] lgfa29 commented on #214
Thanks for the report @Lucretius.

#206 updated the Nomad API package, so this field should've been parsed correctly.

We'll investigate this further and get back to you.

[2021-04-19 15:00] JanMa opened #215 "Using `for_each` in a resource leads to runtime panic"
Hello,

I am trying to create multiple namespaces, ACL policies and tokens using the latest terraform provider for Nomad.
To simplify the configuration I am making use of the `for_each` stanza on multiple resources. When running `terraform plan` or `terraform apply` the provider crashes with a panic which can be seen below.

Using the `-parallelism=1` flag it works without issues.

It seems to me

[2021-04-19 18:47] lgfa29 commented on #215
Thanks for the report @JanMa.

This is due a race condition in the Nomad API that started to happen when https://github.com/hashicorp/terraform-provider-nomad/pull/203 was merged. Before that, we didn't modify the headers.

The API was fixed in https://github.com/hashicorp/nomad/pull/10302 and we'll be picking up this change in our next release.

[2021-04-21 20:45] Teal-Projects opened #216 "provider crash"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

Terraform v0.15.0

### Nomad Version
1.0.4

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

###

[2021-04-22 10:42] jrasell commented on #216
Hi @Teal-Projects and thanks for raising this issue. The provider configuration you have detailed looks like a [Nomad agent configuration](https://www.nomadproject.io/docs/configuration) block rather than a Nomad Terraform provider configuration block. Could you clarify the provider configuration you are using? Is this panic impacting a particular resource? If so, would you also be able to share a

[2021-04-22 10:59] Teal-Projects commented on #216
Hello,

Thank you very much for your answer.

This is the configuration of the provider :
`
terraform {
  required_version = ">= 0.13"
  required_providers {
    nomad = {
      source  = "hashicorp/nomad"
      version = "1.4.14"
    }
  }
}
provider "nomad" {
  address = "https://cluster.example.tld"
  region  = "eu-central-1"
}
`
I do arrive to send job with the nomad command :
`nomad run -addr

[2021-04-22 11:04] jrasell commented on #216
If you're having a problem using the Terraform provider to register a Nomad job, could you share the Nomad job resource you are configuring within a local file? If you could also include any and all console output that may help identify the issue that would be appreciated.

[2021-04-27 00:55] yaleman opened #217 "darwin_arm64 support"
### Terraform Version

[code]

### Nomad Version

n/a

### Provider Configuration
(irrelevant, but here you go)

[code]

### Environment Variables

n/a

### Affected Resource(s)

All, it's the provider itself.

### Terraform Configuration Files

n/a

### Debug Output
[code]

### Expected Behavior

I should be able to use it on an M1 mac.

### Actual Behavior

Terraform failed to `init`.

### Steps

[2021-04-27 05:57] jrasell commented on #217
Hi @yaleman and thanks for raising this issue. This is certainly something we want to support.

[2021-04-27 06:30] yaleman commented on #217
Thanks for the confirmation - happy to provide testing if needed :)

[2021-04-27 20:13] bigmstone commented on #217
I was able to compile locally and get myself going pretty easily, but yes +1 to registry support. So far no issues on `darwin_arm64`. Was able to apply job spec through it.

[2021-05-03 14:42] bflad commented on #217
Just adding a reference link to the Terraform CLI issue as well: https://github.com/hashicorp/terraform/issues/27257

[2021-05-04 12:21] jrasell opened #219 "resource: add MemoryOversubscriptionEnabled param to SchedulerConfig"
The new memory oversubscription feature introduces a new [API parameter](https://www.nomadproject.io/api-docs/operator/scheduler#memoryoversubscriptionenabled) which should be made available within the Terraform provider.

[2021-05-04 13:00] optiz0r opened #220 "Support for job.group.consul block in nomad_job"
### Terraform Version

Terraform: 0.14.11
Terraform-provider-nomad: 1.4.14

### Nomad Version

1.1.0-beta1

### Provider Configuration

[code]

### Environment Variables

`NOMAD_ADDR` and `NOMAD_TOKEN` are set appropriately

### Affected Resource(s)

- nomad_job

### Terraform Configuration Files
[code]

### Expected Behavior

Job should be parsed correctly and submitted to Nomad for execution

##

[2021-05-04 13:01] jrasell commented on #220
Thanks @optiz0r, this is something we will certainly get updated and sorted.

[2021-05-08 21:32] elprans opened #221 "fatal error: concurrent map read and map write"
### Terraform Version

[code]

### Nomad Version

[code]

### Provider Configuration

[code]

### Environment Variables

[code]

### Affected Resource(s)

- nomad_job

### Panic Output

<details><summary>PANIC OUTPUT</summary>
<p>

[code]

</p>
</details>

[2021-05-10 07:34] jrasell commented on #221
Thanks for the report @elprans .

I believe this is due a race condition in the Nomad API that started to happen when https://github.com/hashicorp/terraform-provider-nomad/pull/203 was merged. Before that, we didn't modify the headers.

The API was fixed in https://github.com/hashicorp/nomad/pull/10302 and we'll be picking up this change in our next release. I will close out this ticket, referenci

[2021-05-10 07:34] #221 closed

[2021-05-10 14:41] multani opened #222 "Apply / destroy with Terraform 0.15 crash with "concurrent map read and map write""
### Terraform Version

[code]

### Nomad Version

[code]

it also happens with an older version of Nomad. (I don't think the Nomad version matters in this issue)

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables

* `NOMAD_TOKEN`:  set after running `nomad acl bootstrap`.

### Affected Resource(s)

My reproducible use-case wor

[2021-05-10 20:50] #217 closed

[2021-05-10 21:23] lgfa29 commented on #222
Thanks for the report @multani.

This is a [known issue](https://github.com/hashicorp/terraform-provider-nomad/issues/215) that caused by a bug in the Nomad `api` package. We'll pick the fix in the next release that is coming out in the next few days.

For now, you can use the `-parallelism=1` flag or downgrade the provider version, if possible.

I'm going to close this just so we can keep the foc

[2021-05-11 00:32] lgfa29 commented on #216
Hi @Teal-Projects 👋

Just checking in to see if you are still able to provide a sample job that triggers this issue and a full debug log output (`TF_LOG=TRACE terraform plan`).

Thanks!

[2021-05-12 14:31] #210 closed

[2021-05-14 14:11] #214 closed

[2021-05-14 14:11] #215 closed

[2021-05-14 14:11] #219 closed

[2021-05-14 14:11] #220 closed

[2021-05-17 21:46] optiz0r commented on #216
I'm seeing the same, or something very similar, but it's a transient issue. Re-running terraform plan/apply after seeing the error typically sees the error go away. When it happens, every nomad_job resource fails with one of the two below errors. I've had it happen three times this evening, while migrating ~45 jobs into terraform. I've not yet been able to re-create on-demand and capture a trace l

[2021-05-17 22:08] lgfa29 commented on #216
Hi @optiz0r 👋

Given the message:

Your issue is actually this one: https://github.com/hashicorp/terraform-provider-nomad/issues/222, which has been fixed in `main` and a new release containing will be out in the coming days.

There are some more details and workarounds in the meantime in the my [comment](https://github.com/hashicorp/terraform-provider-nomad/issues/222#issuecomment-837366863) ther

[2021-05-17 22:09] optiz0r commented on #216
Ok, thanks. Sorry for the noise!

[2021-05-17 22:13] lgfa29 commented on #216
No worries 🙂

[2021-05-18 14:38] #208 closed

[2021-05-19 22:23] lgfa29 opened #231 "Update Terraform SDK to v2"
Terraform SDK v1 will [eventually not receive any more updates](https://discuss.hashicorp.com/t/end-of-life-timeline-for-v1-of-the-terraform-plugin-sdk/24991), so we must update to v2.

[2021-06-16 08:34] bugchecker opened #237 "Request to add ssh bastion"
Terraform cannot connect to nomad server through ssh (or vpn?) tunnel (without external assistance)

### Terraform Version
[code]

### Nomad Version
[code]

### Provider Configuration
[code]

### Environment Variables
Do you have any Nomad specific environment variable set in the machine running Terraform?

[code]

### Affected Resource(s)
[code]

### Terraform Configuration Files
...

### Debug O

[2021-06-16 08:52] jrasell commented on #237
Hi @bugchecker and thanks for opening this issue.

In the provider configuration you detail that you are using the Nomad server private IP address as the endpoint; this is subsequently resulting in the i/o timeout error when performing the Terraform apply. Does the machine you are running the Terraform commands from have routable access to  `172.31.53.139:4646`? Performing a command such as `curl

[2021-06-16 13:07] bugchecker commented on #237
Yes. I wish to deploy job from external CI/CD (from internet). So I supposed do it like connection in remote-exec (it has bastion arguments), because I don't know the best practices for deploying nomad jobes

[2021-07-27 11:29] saltxwater opened #241 "Support for job.group.consul block in nomad_job (non-hcl2)"
### Terraform Version
Terraform v0.14.6
+ provider registry.terraform.io/hashicorp/nomad v1.4.15

### Nomad Version
1.1.2+ent

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
NOMAD_ADDR and NOMAD_TOKEN are set appropriately

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

### Expected Behavior

[2021-07-27 12:19] jrasell commented on #241
Hi @saltxwater and thanks for taking the time to fill this detailed issue. This is related to the fact that Nomad was not updating the hclv1 parser to include new functionality until recently, where we decided to change approach and keep the hclv1 and hclv2 parser harmonised. This work was conducted within https://github.com/hashicorp/nomad/pull/10931 and is pending release. I will work on updatin

[2021-08-06 14:24] JanMa opened #242 "Update Nomad API to latest Version"
Hello,

this driver pins the Nomad API package to version `1.1.0`. This version unfortunately does not support some of the new settings introduced in Nomad `1.1.0`, support was only added in version `1.1.3`. For example you currently can't specify `on_update` in a `service` or `check` block.

### Terraform Version
[code]

### Nomad Version
[code]

### Affected Resource(s)
- nomad_job

### Terrafor

[2021-08-06 22:05] lgfa29 commented on #242
Thank you @JanMa, we'll get an updated version out soon!

[2021-08-09 18:20] magikid opened #243 "Failing to apply mount options"
### Terraform Version
[code]

### Nomad Version
[code]

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables

Do you have any Nomad specific environment variable set in the machine running Terraform?

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- nomad_volume

### Terraform Configuration Fil

[2021-08-09 18:46] magikid commented on #243
Ah, it seems that I'm being bitten by a bug in nomad itself: https://github.com/hashicorp/nomad/issues/9825

[2021-08-09 18:46] #243 closed

[2021-08-10 00:03] lgfa29 commented on #242
I was updating the Nomad version, but I think there aren't any significant changes that would impact the provider 🤔

In your specific case, the `on_update` service attribute was added in Nomad 1.1.0 readiness check, so it's already supported by the provider.

I think that what you are missing is enabling the [HCL2 parser](https://registry.terraform.io/providers/hashicorp/nomad/latest/docs/resource

[2021-08-10 07:04] JanMa commented on #242
Hey @lgfa29,

thanks for looking into this. I can confirm that if I set the following in the job resource, everything works:
[code]
Maybe you can make it a bit more clear in the docs that job spec fields that were introduced with version 1.1.0 do not work with the v1 parser.

[2021-08-10 07:04] #242 closed

[2021-08-15 04:44] Terrybrar97 opened #244 "T"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2021-08-19 19:53] lgfa29 commented on #237
Hi @bugchecker.

`remote-exec` is a provisioner, so they work differently from providers. Setting up the network connection to Nomad is outside the scope of the provider.

You would need to either expose the Nomad API is a controlled way (using firewalls, VPC peering, ACLs etc), or run or CI/CD worker within your private network.

[2021-08-19 19:53] #237 closed

[2021-08-19 21:33] lgfa29 commented on #242
Good point 🙂

https://github.com/hashicorp/terraform-provider-nomad/pull/245

[2021-08-25 18:15] CarelvanHeerden opened #246 "Nomad Job file for Consul Mesh Gateway does not parse in the Terraform Nomad Provider."
Hi there,

### Terraform Version
Terraform v1.0.5
hashicorp/nomad v1.4.15

### Nomad Version
nomad server members
Name             Address     Port  Status  Leader  Protocol  Build  Datacenter  Region
consul000000.eu  X.X.2.8   4648  alive   false   2         1.1.2  GENERAL     eu
consul000001.eu  X.X.2.9   4648  alive   true    2         1.1.2  GENERAL     eu
consul000002.eu  X.X.2.10  4648  aliv

[2021-09-03 16:06] jorgemarey opened #247 "nomad_job resource information when planning"
Hi,

I was wondering if it's possible to modify the nomad_job resource to output/include more information when doing a terraform plan. Currently we can see the changes on the job but it would be usefull to receive some information like nomad plan does:

Exmaple of output for nomad plan
[code]
This information about what's about to happen it's really usefull for us.

Thanks in advance.

[2021-09-10 03:18] sgtang opened #248 "Inconsistent Final Plan when Nomad Job ID changes in a generated jobspec"
### Terraform Version
Terraform v0.13.7
+ provider registry.terraform.io/hashicorp/nomad v1.4.15

### Nomad Version
Nomad v1.0.1 (c9c68aa55a7275f22d2338f2df53e67ebfcb9238)

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/sgtang/a96

[2021-09-14 05:11] nvx opened #249 "Feature: Add ability to drain nodes"
When provisioning nomad client nodes with Terraform, it would be useful to be able to use the Nomad terraform provider to gracefully drain (including waiting on the drain to complete) before destroying the VM.

I've gotten close by using a destroy time exec provisioner in a null_resource, but the problem is it is not possible to access a fresh Nomad ACL token. Having it as a feature of the provide

[2021-09-14 05:14] nvx commented on #249
I could see this being a resource that takes in the node id (either read out of the started VM, or by provisioning in the node ID into the VM using a random_uuid data source) that could optionally wait for the node to come online - technically not provisioning the node (the node registers itself after all) but would validate that the node came up properly which is an improvement on current workflo

[2021-09-27 10:06] zhenik opened #250 "Unexpected response code: 403 (Permission denied) for Nomad ACL bootstrap token on second deploy"
Project with issue https://github.com/zhenik/terraform-nomad-acl-test to be able run locally. (require vagrant)

### Terraform Version
terraform version 0.14.9

### Nomad Version
Nomad 1.0.2

### Provider Configuration
[code]
### Environment Variables
no

### Affected Resource(s)
[code]

### Terraform Configuration Files
`main.tf`
[code]

`terraform-some-dependency/main.tf`

[code]

### Debug Outp

[2021-10-13 22:28] lgfa29 opened #251 "Update `nomad_scheduler_config` resource and data source to Nomad 1.2 changes"
https://github.com/hashicorp/nomad/pull/10799 changes the format of the API response for the `GET /v1/operator/scheduler/configuration` endpoint.

The provider must be update to be able to handle both response formats.

[2021-10-20 11:50] apollo13 opened #252 "Clarify differences between nomad_volume and nomad_external_volume"
Looking at the docs it is not really clear what the differences between `nomad_volume` and `nomad_external_volume` are. From what I gathered looking at the arguments `nomad_volume` requires `external_id`, so it seems to map to csi `register` whereas `nomad_external_volume` seems to use `create` to create a volume. All in all it came as a surprise that `nomad_external_volume` is actually the "more

[2021-10-22 23:05] wallacepf opened #253 "Provider produced inconsistent result after apply"
### Terraform Version
[code]

### Nomad Version
[code]

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]

[code]

### Debug Output
https://gist.github.com/wallacepf/7bf4863122f539159bd1bb4329cf67b1

### Expected Behavior
Resource get deployed within specified namespace on N

[2021-11-02 22:05] lgfa29 commented on #246
Yes, I'm prerping for a new release based on Nomad 1.2.0 that will be out soon.

We usually update on X.Y.0 releases since that's when major new features come out, but Mesh Gateways was kind of an odd ball...

[2021-11-02 22:09] lgfa29 commented on #247
Hi @jorgemarey 👋

Unfortunately this would not be possible until, at least, #1 is fixed. The Terraform and Nomad state are two different things and controlled differently by each tool.

A fix for #1 would allow better diffs because then each jobspec field would be tracked by Terraform as well, but until then, there's nothing we can do to improve it....

I will close this and we re-evaluate the dif

[2021-11-02 22:09] #247 closed

[2021-11-02 22:48] lgfa29 commented on #248
Hi @sgtang 👋

Unfortunately I don't think there's a way around this. The job name is its ID, so changing it dynamically is not recommended, though possible if the change is well-defined.

The problem in this case is that Terraform can't do multi-stage planning. The job ID is dependent on the template, which is also a dynamic and non-known value at plan time, so the Terraform doesn't know that the

[2021-11-02 22:48] #248 closed

[2021-11-02 22:52] lgfa29 commented on #248
Forgot to mention this, but for future reference, here are the reproduction files I used
https://gist.github.com/lgfa29/05d2562e81a0135bb0c5cb0252920942

[2021-11-02 23:21] lgfa29 commented on #252
That's pretty much it. Any suggestion on how the description could be improved?

Hum...why is it more internal? `nomad_volume` creates a volume in Nomad, while `nomad_external_volume` creates a volume in an external storage provider then registers it in Nomad.

You shouldn't really be changing things outside Terraform 😅  but this should work. Could you provide a reproduction?

`nomad_external_volu

[2021-11-02 23:26] lgfa29 commented on #253
Hi @wallacepf 👋

I'm not sure how TFC4B works, but would it be possible to set the [`TF_LOG_PROVIDER`](https://www.terraform.io/docs/internals/debugging.html) environment variable and reproduce the issue again?

Thanks!

[2021-11-02 23:38] lgfa29 commented on #251
The changed was reverted during the beta period, so no need update it.
https://github.com/hashicorp/nomad/pull/11433

[2021-11-02 23:38] #251 closed

[2021-11-03 00:27] lgfa29 commented on #250
Hi @zhenik 👋

Thank you for the great Vagrant reproduction environment! This is a very weird issue and I can't really explain what's happening 🤔

It seems like an issue with Terraform itself. I added this line of debug code [here](https://github.com/hashicorp/terraform-provider-nomad/blob/main/nomad/resource_acl_policy.go#L130):

[code]

And I was able to verify that Terraform is not passing the t

[2021-11-03 00:50] lgfa29 commented on #249
Hi @nvx 👋

This is an interesting, but I'm not sure if it fits well with the Terraform model 🤔

For example, what would it mean to delete this resource? We can't really "undo" a node drain so the resource would kind of just hang there?

These types of one-off operations seem better suited for the Nomad CLI.

[2021-11-03 05:28] nvx commented on #249
Marking as eligible and ineligible for scheduling is a reversible operation, I'd envisage triggering a drain as an option when marking ineligible.

While the Nomad CLI can be used for this, it means that the lifecycle of a Nomad worker can no longer be maintained through Terraform alone as you'd need to drain a worker manually before having Terraform do the rest of the lifecycle management which c

[2021-11-03 07:06] apollo13 commented on #252
Good question, did those get updated recently? I could have sworn that they said the same thing when I opened this issue -- but maybe I mixed up the tabs. Sorry for the noise.

I guess when you say "creates a volume in Nomad" you mean register but I think then of "creates via CSI". Either way, since both are CSI volumes for me it would have made more sense if `nomad_volume` created & registered th

[2021-11-03 07:06] #252 closed

[2021-11-03 11:22] grahambrown11 commented on #246
Thanks - look forward to the new release

[2021-11-03 13:54] lgfa29 commented on #249
That's a [different endpoint](https://www.nomadproject.io/api-docs/nodes#toggle-node-eligibility), so probably another resource altogether 🙂

So `nomad_node_drain` would use `/v1/node/:node_id/drain` and `nomad_node_elibigility` would use `/v1/node/:node_id/eligibility`. Both endpoints generate an evaluation in Nomad, so I guess that's the resource being "created"?

Changing eligibility on delete

[2021-11-03 17:49] lgfa29 commented on #216
Hi @Teal-Projects 👋

I'm going to close this issue for now as we don't have enough information to debug what could be going wrong in your environment.

But let us know if it happens again and you are able to collect more logs with the steps we've provided.

[2021-11-03 17:49] #216 closed

[2021-11-04 07:02] nvx commented on #249
I just had a closer look what the Nomad CLI is doing (to date I've been draining nodes manually), and it looks like the logic is enabling drain on a node sets the eligibility to false by default (but you can also set the eligibility to false without doing a drain), and cancelling an existing drain changes the eligibility back to true by default (but you can also do this separately to the drain as

[2021-11-04 10:44] zhenik commented on #250
@ lgfa29 some additional info.

We meet that behaviour once we upgrade terraform version `0.13.5 ~> 0.14.9` for our nomad module (we have plan for further upgrade up to release 1.0.X)

This module works fine with first and further attempts of deploy, if we run it with terraform version `0.13.5`

[2021-11-10 02:13] wallacepf commented on #253
Of course! I'll do that during the weekend.

[2021-11-13 04:01] wallacepf commented on #253
Here you will find the provider's debug information: https://gist.github.com/wallacepf/d7b85d8e657797a70f43dd55b6f84022

(Logging level was set to TRACE)

Seems like the variables I'm passing inside the HCL2 block aren't considered when the code runs.

[2021-11-16 00:17] spuder opened #254 "Release with darwin/arm64 Support for Apple M1 processors"
Related to https://github.com/hashicorp/terraform/issues/28041#issuecomment-964689464

If you try and use this provider on an apple M1 cpu, you get the following error

[code]

Please release `darwin_arm64` versions of this provider so Apple M1 users can use terraform with nomad.

The `consul` and `vault` providers by comparison already have darwin_arm64 builds. See
- https://github.com/hashicorp/

[2021-11-16 00:18] spuder commented on #254
https://github.com/actions/virtual-environments/issues/2187

[2021-11-16 00:28] spuder commented on #254
@bflad You released the `darwin/arm64` builds for vault/consul. Is this something you could help with for nomad?

[2021-11-18 07:06] grahambrown11 commented on #246
@lgfa29 sorry to be a nag, but now that Nomad 1.2.0 is officially released, how much longer before we see the provider release?

[2021-11-19 22:28] lgfa29 commented on #246
Hi @grahambrown11. Yes, we will have a new release early next week. I'm just wrapping up some of the remaining open issues 🙂

[2021-11-24 14:04] jhaezebr opened #255 "invalid key hostname"
Hello,

When trying to add a hostname to the network stanza configuration (https://www.nomadproject.io/docs/job-specification/network#hostname) the provider complains about an unknown key.

### Terraform Version
[code]
### Nomad Version
`Nomad v1.2.1 (719c53ac0ebee95d902faafe59a30422a091bc31)`

### Provider Configuration & Terraform Configuration Files
[code]

### Affected Resource(s)
Please list

[2021-11-24 19:58] #255 closed

[2021-11-24 20:00] lgfa29 commented on #246
Closed by https://github.com/hashicorp/terraform-provider-nomad/pull/256

[2021-11-24 20:00] #246 closed

[2021-11-24 20:00] lgfa29 commented on #241
Closed by https://github.com/hashicorp/terraform-provider-nomad/pull/256

[2021-11-24 20:00] #241 closed

[2021-11-24 21:04] lgfa29 commented on #253
Thanks for the logs @wallacepf.

I still can't seem to reproduce it thought 🤔

Are you updating an existing job? Or maybe you set the `variable` blocks after registering the job without them before?

[2021-11-24 22:22] lgfa29 commented on #250
Thanks for the additional information @zhenik.

I was able to confirm that this is a bug in Terraform that happened between the `0.13.7` and `0.14.0` release. Using `git bisect` I was able to pin point the problem to this commit: https://github.com/hashicorp/terraform/commit/be757bd41657a758c9a6edffe3f0b6486a79e8d3

Unfortunately I don't know enough about the Terraform source code to debug this fu

[2021-11-24 22:35] lgfa29 commented on #254
Hi @spuder 👋

The latest release includes ARM builds for Darwin:
https://releases.hashicorp.com/terraform-provider-nomad/1.4.16/terraform-provider-nomad_1.4.16_darwin_arm64.zip

Could you give a try and see if that works for you?

[2021-11-24 22:51] spuder commented on #254
Yes, worked, thank you very much

[code]

[2021-11-24 22:51] #254 closed

[2021-11-24 23:32] lgfa29 commented on #249
Ahh now I see what you mean, thanks!

Usually resources in Terraform providers match 1:1 with a set of remote API CRUDs, but these endpoints (like `/v1/node/:node_id/drain`) are more transnational so they really create anything (well, they create an evaluation, but they are kind of useless in Terraform).

Your idea is that this resource would be like a sidecar to another resource, like an AWS EC2

[2021-11-29 06:27] nvx commented on #249
Yup that's exactly it.

I like your idea of using the node metadata to filter on it as well, would be handy where the cloud platform provides that information. A little more flexible than having to explicitly provision in the node ID ahead of time.

A timeout for how long to wait on the create for the Node to appear before considering it failed might be worth adding too.

[2021-12-15 01:42] lgfa29 commented on #249
There's a standard way to handle timeouts in Terraform:
https://www.terraform.io/docs/extend/resources/retries-and-customizable-timeouts.html

So it's mostly a matter of making sure that `Timeouts` is set in the resource schema and that the value is used wherever it's necessary. Here's an example of it being used in the `nomad_job` resource:
https://github.com/hashicorp/terraform-provider-nomad/bl

[2021-12-17 00:04] nvx commented on #249
Good to know

Definitely. Just a matter of getting some free time to look at it. This time of year ends up being rather hectic unfortunately.

[2021-12-21 22:11] lgfa29 commented on #249
No worries! We'll be around to help whenever you're ready to work on it 🙂

[2022-01-06 16:41] adrianlop opened #257 "nomad_job using hcl2 reports variable errors"
### Terraform Version
1.0.5

### Nomad Version
1.2.3

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
Do you have any Nomad specific environment variable set in the machine running Terraform?

No

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
[code]
(the variable values exist in our TFE workspace)

[2022-01-21 12:11] Mongey opened #258 "nomad_scheduler_config.memory_oversubscription_enabled never updated"
### Terraform Version
`0.14.11`

### Nomad Version
`1.2.3`

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Affected Resource(s)
- `nomad_scheduler_config`

### Terraform Configuration Files
[code]

### Expected Behavior
When a nomad cluster does not have `MemoryOversubscriptionEnabled: true` it should be reflected in terraform state, plan to upd

[2022-01-29 17:45] CarbonCollins opened #260 "CSI volume created using nomad_external_volume resource seems to be missing mount_flags"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Nomad Version
```1.2.4```

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Enviro

[2022-01-29 21:17] perrymanuk commented on #257
We are having the same issues, have noticed that if you apply those dependencies first then it will plan fine. After noticing that thought that adding a `depends_on` statement for the other resources might fix it but it still fails. Only solution so far is to remove in our case the terraform for a metrics exporter from our RDS module, then apply it with out the exporter, then copy the exporter ter

[2022-01-31 14:03] tgross commented on #260
Hi @CarbonCollins!

The `mount_flags` set by volume registration are only used to validate the volume. To get the mount flags on the allocation, you'll want to set them on the `volume` block of the jobspec.

[2022-01-31 16:34] CarbonCollins commented on #260
If this is the case how does creating the volume from the CLI/API direct to nomad differ? If I do it using these methods I do not need to provide the mount_flags in the job spec as they are defined already (The job starts correctly and looking at the CSI controller logs I can see the mount_flags present)

The docs for the Nomad volume stanza also specifies `Options for mounting CSI volumes that ha

[2022-02-02 21:52] tgross commented on #260
You can only register a volume with Terraform's `nomad_volume` resource, not create it. But see https://github.com/hashicorp/nomad/issues/11899 for how the API might change in a way that'd improve that story.

You can include the `mount_flags` in the `nomad_volume` resource and they'll be used for validating registration, just as they would with the [`nomad volume register`](https://www.nomadproje

[2022-02-02 21:56] CarbonCollins commented on #260
I'm using the `nomad_external_volume` resource not the `nomad_volume`.

Though it is good to see the potential API changes with the `nomad_volume` one :D

[2022-02-02 22:01] tgross commented on #260
Oh that's embarrassing... I didn't realize there was a second resource for that (can you tell it's been a while since I've looked at this?) 😊 The rest of my comments should apply though, so I'll verify that.

[2022-02-03 10:13] dehydr8 commented on #257
We are experiencing the same issue. Any variable in `hcl2.vars` whose value isn't present at the time of planning (like a `random_password`) would make it unknown.

[code]

A workaround is to define defaults for all of the variables in the jobspec.

[2022-02-05 16:53] CarbonCollins commented on #260
To be honest I had to look at the provider source code to figure out what the difference between the `nomad_external_volume` and `nomad_volume` when I was initially trying to set this all up as its not super clear from the docs itself so I can understand the confusion :sweat_smile:

As far as I understood it at the time, the `nomad_volume` just does a volume register whereas the `nomad_external_vo

[2022-03-01 15:38] tgross commented on #260
@CarbonCollins I'm realizing after having just wrapped up https://github.com/hashicorp/nomad/pull/12150 that we redact the mount options coming back from the API, precisely because they can be secrets. Having data redacted in the API definitely seems like it would break Terraform's model for how resources are supposed to work. I'm certain there's a canonical way in TF providers to handle that but

[2022-03-02 01:45] #258 closed

[2022-03-02 16:30] lgfa29 commented on #257
Hi everyone 👋

I haven't been able to reproduce this yet. Is there something else that would special about the variables?

I tried to reduce the reproduction to the smallest case, would you mind checking if this fails for you?
https://gist.github.com/lgfa29/c57f4787ea6e3ed6d3b674ab09fc57f3

[2022-03-09 18:23] evandam commented on #137
Hey @lgfa29, sorry to bump an ancient issue, but do you think this would be possible at some point? I was considering switching some custom scripts and configuration management to use the Nomad provider but being able to import resources would be pretty important in getting started.

ACL policies, tokens, and namespaces would probably be at the top of our list for priority. I wish I could attempt

[2022-03-15 08:10] shantanugadgil opened #263 "cannot detect change when an external file (template) changes"
### Terraform Version
Terraform v1.1.7
on linux_amd64
+ provider registry.terraform.io/hashicorp/aws v4.5.0
+ provider registry.terraform.io/hashicorp/nomad v1.4.16

### Nomad Version
1.2.6

### Affected Resource(s)
- nomad_job

### Terraform Configuration Files
N/A

### Expected Behavior
Scenario: Using the `nomad_job` resource, which contains a `template` block. The `data` is from an external fi

[2022-03-25 22:15] lgfa29 commented on #263
Hi @shantanugadgil 👋

This is how Terraform works, so there is nothing that the provider can do about it. If there isn't any trackable change that Terraform can see it doesn't even call the provider.

If you need to track changes to external files you will need to load them as a data source and pass it to the job resource. Here's the documentation about it:
https://registry.terraform.io/providers/

[2022-03-25 22:15] #263 closed

[2022-03-25 23:02] lgfa29 commented on #137
It's been a while huh 😞

We currently don't have it a date to get this work in, but I also just realized that the list is wrong 😅

I probably just listed all resources we had at the time without checking, but most of them are actually already importable, including the ones you listed.

[code]

[code]

Did you get an error when trying to import any of them?

[2022-03-26 00:56] evandam commented on #137
Oh that's great to see! No to be honest I didn't even try since it seemed things indicated it wasn't supported and undocumented 😅

Thank you for looking into it!

[2022-03-29 17:35] tgross commented on #260
Possibly fixed by https://github.com/hashicorp/nomad/pull/12150, which will ship in Nomad 1.3.0

[2022-04-25 19:52] tgross commented on #260
Hey I wanted to follow up on this because unfortunately it doesn't look like the Nomad 1.3.0 fixes actually fixed anything here, and it doesn't look like it's related to redaction.

I ran the following on my local environment with the current `main` of Nomad:

<details><summary>terraform config</summary>

[code]

</details>

<details><summary>terraform apply</summary>

[code]

</details>

The resu

[2022-04-25 20:38] tgross commented on #260
Should be fixed in https://github.com/hashicorp/terraform-provider-nomad/pull/266

[2022-05-16 13:23] dysonfrost opened #267 "nomad_job is put in a nonexistent namespace by default"
### Terraform Version
Terraform v1.1.9
on linux_amd64
+ provider registry.terraform.io/hashicorp/nomad v1.4.16

### Nomad Version
Nomad v1.2.6 or v1.3.0

### Provider Configuration

[code]

### Affected Resource(s)

- nomad_job

### Terraform Configuration Files
[code]

### Debug Output
- TF_LOG_PROVIDER output: https://gist.github.com/dysonfrost/17afb60e0da0b56b926c465f19aee616
- Terraform plan o

[2022-05-17 13:35] ygersie opened #268 "Nomad volume missing topology_request"
Now that Nomad 1.3.0 is out with volume topology support we really need to have this supported by the Terraform provider as well.

[2022-05-17 15:24] tgross commented on #268
Hi @ygersie! Yup, we need to come back and get the provider up-to-date. It's on the to-do list!

[2022-05-24 00:48] JRPCF commented on #267
I am also having this issue with terraform cloud using a private provider for Nomad (a fork of terraform-aws-nomad v0.10.0) and Nomad ~> 1.4.15

[2022-06-06 23:53] #260 closed

[2022-06-07 17:53] konsti commented on #267
I have the same issue:

Nomad version: `1.1.3`
Nomad Terraform module pinned to `1.4.15`

[2022-06-08 22:09] lgfa29 commented on #267
Hi everyone 👋

We found out what was causing this issue. An update in the TFC environment made the `NOMAD_NAMESPACE` env var to be set in the TFC runner environment, and this value was being picked up accidentally by the provider.

#271 will fix this by making sure a namespace is never set at the provider level.

[2022-06-09 14:00] #268 closed, assigned to lgfa29

[2022-06-09 14:08] #267 closed

[2022-07-07 01:58] lens0021 opened #274 "TFC overrides the default region("global") by "tf-cloud-iso-prod-use1""
### Terraform Version
`Terraform v1.2.4`

### Nomad Version

`Nomad v1.3.1 (2b054e38e91af964d1235faa98c286ca3f527e56)`

### Provider Configuration

[code]

`memcached.nomad`:
[code]

([See the full code here](https://gitlab.com/lens0021/terraform-nomad-provider-workspace-sample))

### Debug Output

with nomad_job.memcached
on base.tf line 29, in resource "nomad_job" "Memcached":

### Panic Output

[2022-07-08 16:39] eliburke commented on #1
Is there any plan to release v1.5 soon? Is there more work to finish out this feature? #149 hasn't been touched in almost 2 years.

[2022-07-15 21:43] lgfa29 commented on #257
Ah thank you for repro @rhysm , I see the problem now.

Unfortunately that's how Terraform works and there's nothing the provider can do here. If a value is not known at plan time Terraform will hand an empty map to the Nomad provider:

[code]

In general it's best to avoid mixing HCL2 variables in jobspec and Terraform values. I opened #276 to document this better and provide some alternatives.

[2022-07-15 21:57] lgfa29 commented on #1
Hi @eliburke 👋

No plans to get this fixed unfortunately. The work on #149 was a brave attempt to try and map all possible jobspec fields into a Terraform resource schema, but that was not a sustainable approach. As Nomad evolves it becomes almost impossible to manually keep up.

We think that a better approach would be to leverage the [Nomad OpenAPI](https://github.com/hashicorp/nomad-openapi) pr

[2022-07-18 14:06] #257 closed

[2022-07-29 08:43] MagicRB commented on #253
I'm hitting something similar, if I set `retion` in the job spec to a non-local region, the provider will hit the `inconsistent result` error. Imo it's because it doesn't check the correct region for verificatin of deployment. A fix would be to allow us to specify `region` and `namespace` at the `nomad_job` resource level. Having multiple providers is cumbersome with aliases

[2022-08-04 16:59] oinkbark commented on #274
I had basically the same issue of the default "global" region being overridden, but it was simply not being set to anything.
This was the error that was producing for all of my jobs:
[code]
Provider version: 1.4.17 (Previously 1.4.15)
Nomad Version: 1.3.2 (Previously 1.0.4)

I also did not make any code changes and it appeared out of nowhere. I wasn't on these latest versions but upgraded to see i

[2022-08-22 18:20] kjschubert opened #279 "New uid/gid parameters in template stanza are marked as unsupported arguments"
Hi there,

I have a nomad jobspec written in HCL2 which uses the uid and gid attributes in the template stanza. When I try to deploy this job via the terraform provider the following error appears:
[code]

Those attributes were introduced in Nomad 1.3.3 (see https://github.com/hashicorp/nomad/releases/tag/v1.3.3). The go.mod File of this terraform provider still imports version 1.3.1.
https://gith

[2022-08-23 13:37] tgross commented on #279
Hi @kjschubert! That'll be fixed by https://github.com/hashicorp/terraform-provider-nomad/pull/278 and will ship in the next release. Thanks!

[2022-08-23 13:37] #279 closed

[2022-08-26 22:12] lgfa29 commented on #274
Thank you for the report @lens0021.

As @oinkbark mentioned, you explicit set a region for now. I will work on a fix to ignore the `NOMAD_REGION` env var (an add a config to opt-in in loading it like https://github.com/hashicorp/terraform-provider-nomad/pull/280).

[2022-08-30 09:33] thatsk opened #283 "file resource for nomad volume"
resource "nomad_volume" "mysql_volume" {
  jobspec = file("${path.module}/volume.hcl")
}

is there way we can pass like this rather then defining into it.

[2022-08-31 20:21] #274 closed

[2022-08-31 21:02] lgfa29 commented on #274
Hi everyone 👋

Version 1.4.18 just went out and I think it will make this problem go away. It will ignore the `NOMAD_REGION` environment variable by default if the provider detects that it's running in Terraform Cloud (by checking the existence of the `TFC_RUN_ID` env var).

If, for some reason, this still doesn't work for you, there's a new configuration to force the env var to be ignored:

[code

[2022-08-31 21:06] lgfa29 commented on #267
Hi all, a quick update on this.

We received reports that some users were relying on the `NOMAD_NAMESPACE` env var so we had to essentially rollback the change made in 1.4.17.

But v1.1.18 will still ignore `NOMAD_NAMESPACE` if the provider detects that it's running within Terraform Cloud (by inspecting the `TFC_RUN_ID` env var). If, for some reason, this automatic detection fails, you can force t

[2022-08-31 21:25] lgfa29 commented on #283
Thanks for the idea @thatsk 🙂

Unfortunately this approach goes against the way Terraform works, and it has given a lot of headache in the `nomad_job` resource. Since all you're give to Terraform is a string, it can't actually compare its own local state and the remote state in Nomad to detect changes, which results in problems like #1 and prevents us from exposing values in the resource like in h

[2022-08-31 21:25] #283 closed

[2022-08-31 21:26] lgfa29 commented on #253
Ah thanks for the extra info @MagicRB.

Unfortunately exposing these fields in the `nomad_job` resource is not that doable (check https://github.com/hashicorp/terraform-provider-nomad/issues/125#issuecomment-674251130 for more details). I will try to reproduce this again and see how we can fix it.

[2022-08-31 22:11] MagicRB commented on #253
Maybe a solution would be to detect the mismatch and give a meaningful error message. That would at least tell people how to fix it.

[2022-09-15 18:42] shantanugadgil opened #288 "[request] support for Nomad 1.4 secure variables"
### Terraform Version
1.2.9

### Provider Version
1.4.18

### Nomad Version
Nomad v1.4.0-beta.1 (d17021a366178a11b79353f13735389629102d6a)

### Provider Configuration
N/A

When can we get the support for the secure variables in the terraform provider?

_The secure variables are a very welcome addition (instead of setting up Vault only for the KV backend)_

In our workflow, we would like to use Ter

[2022-09-15 18:52] tgross commented on #288
Hi @shantanugadgil! We anticipate shipping TF support following 1.4.0 GA.

[2022-09-22 17:42] shantanugadgil commented on #1
suggestion: to have a quick workaround for this problem, what we have been doing for quite some time is the we render out the entire Nomad job file and use it via the terrafrm-nomad provider (in comple rendered form)

What this does is, when you suspect things, and want to check what is up with the job, you can try out `nomad job plan myjob.nomad` instead of the usual `terraform plan`.

In my opin

[2022-09-23 20:19] kian opened #290 "TF continually wants to update nomad_job resource between plan/apply"
### Terraform Version
Terraform v1.0.0
Nomad provider version 1.4.17

### Nomad Version
1.1.0

### Provider Configuration
Which values are you setting in the provider configuration?

[code]

### Environment Variables
No

### Affected Resource(s)
Please list the resources as a list, for example:
- nomad_job

### Terraform Configuration Files

Terraform:
[code]

Job spec  template:
[code]

### Expec

[2022-10-10 17:42] iluminae commented on #288
@tgross any timeline on this? Looking forward to migrating from vault kv to nomad variables but need to control them with tf.

[2022-10-24 07:39] shantanugadgil opened #296 "[query] use semantic versioning to match the `consul` (or `aws`) provider"
I have always wondered why the Nomad provider DOES NOT follow the semantic versioning style of the `consul` (or `aws`) provider.

The last digit is mostly zero, unless it is an emergency "spotfix".

_I could understand if the first two digits were matching the current latest GA of Nomad, but that doesn't seem to be the case either._

Thus, I propose that the next version be `1.5.0`, rather than in

[2022-10-24 10:54] jrasell commented on #296
Hi @shantanugadgil and thanks for raising this issue. This makes sense and matching other providers should be the way forward. I'll leave this open for other engineers and community member comments.

[2022-10-27 06:58] HINT-SJ commented on #288
Nomad 1.4.1 is already out, still no (documented) support? :(

[2022-10-27 07:05] jrasell commented on #288
Hi @iluminae and @HINT-SJ, the team balances a lot of work-streams and priorities which has meant we have not had the time to start this work quite yet. We will update this issue once we have started work and appreciate your patience.

[2022-10-28 11:19] HINT-SJ commented on #288
For anyone reading this, for the meantime I'm using a little workaround:

`resource "null_resource" "nomad_var_put" {
  triggers = {
    job_name = local.nomad_job_name
  }

  provisioner "local-exec" {
    command = "nomad var put nomad/jobs/${self.triggers.job_name} db_username=\"${var.name}\" db_password=\"${random_string.pass.result}\""
  }

  provisioner "local-exec" {
    when = destroy

[2022-11-07 04:41] NegativeFeedback opened #297 "nomad ceph csi volume parameters"
When I attempt to use the provider to create a ceph volume, it fails because it does not seem to accept parameters as a config value even though I believe I am following the documentation.

### Terraform Version
Terraform v1.3.2
on linux_amd64
+ provider registry.terraform.io/hashicorp/nomad v1.4.16
+ provider registry.terraform.io/hashicorp/vault v3.5.0

### Nomad Version
1.4.2

### Affected Reso

[2022-11-07 23:19] lgfa29 commented on #297
Hi @NegativeFeedback 👋

The error message kind of explains the problem, `parameters` need to have an equal sign since it's a map parameter in the resource (I believe `secret` may need it as well?). This is a bit confusing, but structures without `=` are blocks and they can usually be repeated, key-value configuration are usually defined as map arguments, and so need the `=`.

Try it like this to c

[2022-11-09 06:41] NegativeFeedback commented on #297
hmm this did work when I also used "nomad_external_volume" confusing but all good now. Thanks for the help!

[2022-11-09 06:41] #297 closed

[2022-11-22 20:32] IamTheFij commented on #288
In addition to setting the variables, it would be great to have the ability to pass Job ACLs as well. The base client supports this already.